$background-color: #f7fbff;
$header_border_color: #cacaca;

.shift-management {
  height: 100vh;

  .shift-management-wrapper {
    width: 500px;
    min-width: 500px;
    max-width: 500px;

    ::ng-deep.management-top-card {

      .title {
        color: red;
      }
    }

    .content {
      overflow-y: auto;

      .content-wrapper {
        padding: 0 16px 20px 16px;
      }
    }
  }

  .actions {
    //background: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    border-radius: 0;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    .action-button {
      width: 212px !important;
      text-transform: uppercase;
    }
  }

  .filter-options {

    .total {
      color: rgb(0, 117, 173);
      font-size: 16px;
      font-weight: 600;
      height: 44px;
      letter-spacing: -0.49px;
    }

    .f-message {
      font-size: 16px;
      font-style: italic;
      color: #999999;
    }

    .f-option {

      span {
        color: rgb(159, 197, 58);
        font-size: 16px;
        font-weight: 600;
        //height: 22px;
        letter-spacing: 0;
      }

      .mat-icon {
        font-size: 19px;
        color: #999999;
        cursor: pointer;
      }
    }
  }

  .useful-options {

    .left {
      margin-left: 16px;
      float: left;
    }

    .right {
      float: right;
      margin-right: 16px;
    }
  }

  .selected-staff-members {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;

    .selected-entity {
      position: relative;
      padding: 16px;

      .mat-icon {
        color: #999999;
        position: absolute;
        right: 8px;
        bottom: 8px;
        cursor: pointer;
      }
    }
  }

  .no-results {
    color: rgb(114, 128, 138);
    font-size: 16px;
    letter-spacing: 0;

    .no-results-message {
      text-align: center;
    }
    .start-typing-message {
      font-style: italic;
    }
  }

}
