<div class="shift-management">
  <div class="shift-management-wrapper" fxLayout="column" fxFlex fxFlexFill>

    <div class="header" fxFlex>
      <app-management-top-card title="Fill Shift" [shiftDetails]="shiftDetails">
      </app-management-top-card>
    </div>

    <div class="content" fxFlexFill fxLayoutGap="20px" fxLayout="column" fxFlex="0 1 auto">
      <br />

      <div class="filter" fxFlex="1 1 auto">
        <shift-management-filter (filterChange)="filter.next($event)"></shift-management-filter>
      </div>

      <div class="results">
          <app-staff-card-checkbox *ngFor="let staffM of  staff | async" [staffMember]="staffM"
           [control]="control">
          </app-staff-card-checkbox>
      </div>
    </div>

    <div class="actions" fxFlex="120px">
      <div class="actions-wrapper" fxFlex fxLayout="column" fxLayoutAlign="center" fxLayoutGap="12px">
      <button mat-button class="action-button partial" fxFlexAlign="center">Remove From Shift</button>
        <button mat-button class="action-button complete" fxFlexAlign="center">Request Intelypro</button>
      </div>
    </div>

  </div>
</div>
