<div class="shift-management">
  <div class="shift-management-wrapper" fxLayout="column" fxFlex fxFlexFill>

    <div class="header" fxFlex>
      <app-management-top-card [title]="!!replacing ? 'FIll Cancelled Shift' : 'Fill Open Shift'"
                               [shiftDetails]="shiftDetails" [replacing]="replacing">
      </app-management-top-card>
    </div>

    <div class="content" fxFlexFill fxLayoutGap="20px" fxLayout="column" fxFlex="0 1 auto">
      <br/>

      <div class="filter" fxFlex="0 1 auto">
        <shift-management-filter (filterChange)="filter.next($event)"></shift-management-filter>
      </div>

      <div class="filter-options" fxLayout="column"
           *ngIf="filterOptions && ((filterOptions.shift&&filterOptions.shift !==[]) || (filterOptions.unit&& filterOptions.unit !== []))">

        <div fxFlex="1 1 auto">
          <span class="total">{{total}} Results</span>
        </div>

        <div fxLayout="row">
          <span class="f-message">{{shiftDetails.staffType | titlecase}}s not scheduled for this shift who work: &nbsp;</span>

          <div *ngIf="filterOptions?.shift">
            <div class="f-option" *ngFor="let s of filterOptions.shift">
              <div>
                <mat-icon (click)="removeFilterOpt('shift', u)">cancel</mat-icon> &nbsp;
                <span>{{s}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="filterOptions?.unit">
            <div class="f-option" *ngFor="let u of filterOptions.unit">
              <mat-icon (click)="removeFilterOpt('unit', u)">cancel</mat-icon>
              <span>{{u}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="results">
        <app-staff-card-expandable [staffMembers]="staff | async" [control]="true"
                                   (selectionChange)="selectStaff($event)"></app-staff-card-expandable>
      </div>

      <div class="message" *ngIf="selectedStaff.length">
        <mat-form-field [appearance]="'outline'" fxFlex="1 1 auto">
          <textarea matInput [rows]="2" [formControl]="message"></textarea>
        </mat-form-field>
      </div>
    </div>


    <div class="actions" fxFlex="120px">
      <div class="actions-wrapper" fxFlex fxLayout="column" fxLayoutAlign="center" fxLayoutGap="12px">
        <button mat-button class="action-button" fxFlexAlign="center"
                [ngClass]="!selectedStaff.length && message.valid? 'disabled' : 'complete'"
                [disabled]="!selectedStaff.length && message.valid"
        >Send Request <span *ngIf="selectedStaff.length">({{selectedStaff.length}})</span>
        </button>
        <button mat-button class="action-button partial" fxFlexAlign="center">Request Intelypro</button>
      </div>
    </div>

  </div>
</div>
