.shift-requests {
  padding: 16px 8px;

  .my-schedule-element {

    .date-indicator {
      padding: 5px 15px;
      height: 51px;

      .month {
        color: #59595b;
        font-size: 12px;
        font-weight: normal;
      }

      .date {
        color: #59595b;
        font-size: 19px;
        font-weight: 600;
      }
    }
  }
}
