$background-color: #f7fbff;

.management-top-card {
  background-color: $background-color;
  min-width: 433px;
  padding-bottom: 10px;

  .management-top-card-title .title {
    line-height: 8px;
  }

  .management-top-card-content-wrapper {

    .bold-item {
      line-height: 8px;
    }
  }
}
