$background-color: #f7fbff;

.management-top-card {
  background-color: $background-color;
  min-width: 433px;

  .management-top-card-title {
    z-index: 1000;
    padding: 16px;
    font-size: 18px;

    .title {
      height: 24px;
    }
  }

  .management-top-card-content-wrapper {
    padding: 16px 16px 16px 24px;

    .bold-item {
      color: #72808a;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.67px
    }

    .info-header {
      color: #72808a;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.75px;
    }
  }

  .replacing-staff {

    .chip-icon {
      background-color: #d0021b;
      color: white;
    }

    .staff-data {

      .title {
        color: #f45551;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-decoration: line-through;
      }

      .subtitle {
        color: #f4504b;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
      }
    }
  }

  .replacing-staff, .shift-info {
    border-right: 1px solid #D5DBE5;
  }
}
