<div class="management-top-card" fxLayout="column-reverse">


  <div class="management-top-card-content">
    <div class="management-top-card-content-wrapper" fxFlex fxLayout="column" fxLayoutGap="15px">

      <span class="info-header">Shift Details</span>

      <div class="replacing-staff" *ngIf="replacing">
        <div class="replacing-staff-wrapper" fxLayout="row" fxLayoutGap="20px">
          <app-chip-icon [name]="replacing.fullName"></app-chip-icon>
          <div class="staff-data">
            <div class="user-data-wrapper" fxFlex fxLayout="column">
              <span class="title">{{replacing.fullName}}</span>
              <span class="subtitle">{{replacing.staffType}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="top-card-line shift" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">today</mat-icon>
        <span class="bold-item">{{shiftDetails.shiftDate | date: ' EEEE MMMM dd, yyyy'}}</span>
      </div>

      <div class="top-card-line shift" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">access_time</mat-icon>
        <span class="bold-item">{{shiftDetails.shiftHours}}</span>
      </div>

      <div class="top-card-line unit" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">person_pin</mat-icon>
        <span class="bold-item">{{shiftDetails.unit}}</span>
      </div>

      <div class="top-card-line  shiftType" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">people</mat-icon>
        <span class="bold-item">{{shiftDetails.staffType}}</span>
      </div>

      <div class="remove-shift-container" fxFlex>
      <button mat-button class="action-button cancel">DELETE SHIFT</button>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="management-top-card-title" fxFlex>
    <div class="card-title-wrapper" fxLayout="row">
      <div class="title" fxFlex fxLayoutAlign="center cemter">
        <span class="bold-item">{{title | uppercase }}</span>
      </div>
    </div>
  </div>

</div>
