<div class="management-top-card" fxLayout="column">

  <div class="management-top-card-title" fxFlex>
    <div class="card-title-wrapper" fxLayout="row">
      <!--<button mat-icon-button (click)="toggleSidebar()">-->
        <!--<mat-icon>close</mat-icon>-->
      <!--</button>-->
      <div class="title" fxFlex fxLayoutAlign="center">
        <h2 class="bold-item">{{title | uppercase }}</h2>
      </div>
    </div>
  </div>

  <div class="management-top-card-content">
    <div class="management-top-card-content-wrapper" fxFlex fxLayout="column" fxLayoutGap="15px">

      <mat-divider></mat-divider>

      <div class="top-card-line shift" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">today</mat-icon>
        <span class="bold-item">{{shiftDetails.shiftDate | date: ' EEEE MMMM dd, yyyy'}}</span>
      </div>

      <div class="top-card-line shift" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">today</mat-icon>
        <span class="bold-item">{{shiftDetails.shiftHours}}</span>
      </div>

      <div class="top-card-line unit" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">gps_fixed</mat-icon>
        <span class="bold-item">{{shiftDetails.unit}}</span>
      </div>

      <div class="top-card-line  shiftType" fxFlex fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="icon">people</mat-icon>
        <span class="bold-item">{{shiftDetails.staffType}}</span>
      </div>

    </div>
  </div>

</div>
