<div class="user-form">

  <div class="user-form-wrapper">

    <div class="user-management-header">
      <p>
        Did you forget your password?
        <br/>
        <label class="sub-title">Please enter your email below so that we could send you a recovery link.</label>
      </p>
    </div>

    <form [formGroup]="forgotPassForm">
      <div class="user-management-body">
        <div class="input-wrapper">
          <label class="form-labels">Email address</label>
          <input formControlName="email" placeholder="you@intelycare.com" type="text" class="form-inputs"
                 [ngStyle]="{'border-color' : (submitted && validateForm.email.errors) ? 'red' : ''}" />
        </div>

        <br /><br /><br />

        <div class="button-wrapper">
          <button class="main-button action-button complete" type="button" (click)="recoverPassword()" >
            <label class="main-button-label">
              Send recovery email
            </label>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>





