<div class="staff-card-confirmation">
  <mat-list-item>
    <div class="staff-card-confirmation-container" fxFlex fxLayout="row" fxLayoutGap="8px">

      <div class="staff-card-radio" *ngIf="selectable">
        <mat-radio-button [checked]="checked" (change)="selectedChange.next()"></mat-radio-button>
      </div>

      <div class="staff-card-confirmation-chip">
        <app-chip-icon [name]="staffMember.fullName"></app-chip-icon>
      </div>

      <div class="staff-card-confirmation-content" fxFlex="1 1 auto" fxLayout="column">
        <span class="bold-item title">{{staffMember.fullName | titlecase}}</span>
        <span class="subtitle">{{staffMember.staffType}}</span>
      </div>

    </div>
  </mat-list-item>
</div>
