.requests {
  height: 100vh;
  width: fit-content;
  max-width: fit-content;

  .requests-wrapper {
    width: 538px;
    min-width: 538px;
    max-width: 538px;

    .content {
      padding: 12px 16px;
      overflow: auto;

      .request-entity {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);

        ::ng-deep.card-system-shift-details {
          background-color: #f7fbff;
        }

        ::ng-deep.mat-expansion-panel-body {
          padding: 0;
        }

        .responses {
          font-style: italic;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0;

          span {
            white-space: nowrap;
          }
          .rejected {
            color: #d0021b;
          }

          .accepted {
            color: #9fc53a;
          }

          .pending {
            color: #1785b8;
          }
        }
      }
    }
  }
}
