.shifts-to-fill {
  height: 270px;
  min-width: 336px;
  max-width: 400px;

  .mat-card-header {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;

    .mat-card-title {
      color: rgb(114, 128, 138);
      font-family: OpenSans-SemiBold, sans-serif;
      font-size: 16px;
      font-weight: 600;
      height: 23px;
      letter-spacing: 0;
      line-height: 19px;
      margin: 0;
    }
  }

  .mat-card-content {
    height: 140px;

    .counter {
      position: relative;

      .marker {
        color: rgb(208, 2, 27);
        font-family: OpenSans-SemiBold, sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 44px;
        letter-spacing: 0;
      }
      .pager {
        position: absolute;
        top: 0;
        right: 0;

        button {
          width: 24px;
          height: 24px;
          font-size: 16px;
          padding: 0;
          margin: 0;
          background-color: transparent;
          border: 1px solid #9EA1A9;
          cursor: pointer;

          .mat-icon {
            font-size: 21px;
          }
        }
      }
    }

    .content-wrapper {
      color: rgb(114, 128, 138);
      font-family: OpenSans-Regular, sans-serif;
      font-size: 16px;
      font-weight: normal;
      height: 66px;
      letter-spacing: 0;
      padding: 15px 15px;
      text-align: center;

      ::ng-deep.bold-item {
        font-style: italic;
        color: black !important;
      }
    }

    .no-shifts {
      color: rgb(114, 128, 138);
      font-family: OpenSans-Regular, sans-serif;
      font-size: 16px;
      font-weight: normal;
      height: 44px;
      letter-spacing: 0;
      text-align: center;
    }
  }

  .action-button {
    text-transform: uppercase;
  }
}
