<mat-card class="request-intelypro" fxLayout="column">
  <mat-card-header fxFlex="0 1 auto" fxLayoutAlign="start center">
    <mat-icon mat-card-avatar class="test-icon">add_circle</mat-icon>
    <mat-card-title fxLayoutAlign="center center">Request an IntelyPro</mat-card-title>
  </mat-card-header>

  <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="center center">
    <img src="assets/images/intely_y.svg"/>
  </mat-card-content>

  <mat-card-actions align="center" fxLayoutAlign="center center">
    <button mat-button class="action-button complete" (click)="openRequestIntelyPro()">Request IntelyPro</button>
  </mat-card-actions>
</mat-card>
