.request-intelypro {
  height: 270px;
  width: 336px;

  .mat-card-header {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;

    .mat-card-title {
      color: rgb(114, 128, 138);
      font-size: 16px;
      font-weight: 600;
      height: 23px;
      letter-spacing: 0;
      line-height: 19px;
      margin: 0;
    }
  }

  .mat-card-content {
    height: 140px;
  }

  .action-button {
    text-transform: uppercase;
  }
}
