.staff-column {
  width: fit-content;
  margin: 8px 0;

  .staff-column-wrapper {

    .staff-column-title, .staff-column-subtitle {
      flex: 1 1 auto;
      text-align: center;
      line-height: 1.5;
    }

    .staff-column-title {
      font-size: 25px;
    }

    .staff-column-subtitle {

      span {
        color: #cacaca;
        font-size: 18px;
      }
      .census {
        padding: 5px;
        width: 38px;
        border: 1px solid #D3D4D5;
      }
    }

  }
}
