.staff-column {
  width: fit-content;

  .staff-column-wrapper {

    .staff-column-header {
      margin: 30px 0;

      .staff-column-title, .staff-column-subtitle {
        flex: 1 1 auto;
        text-align: center;
      }

      .staff-column-title {
        font-size: 24px;
      }

      .staff-column-subtitle {

        span {
          color: #cacaca;
          font-size: 16px;
        }
        .census {
          padding: 5px;
          width: 38px;
          border: 1px solid #D3D4D5;
          border-radius: 2px;
        }
      }

    }
  }
}
