.activate-form {
  background-color: #FFFFFF;
  width: 100%;

  .activate-form-wrapper {
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 30px!important;

    .header-wrapper {

      .header-icon-wrapper {
        display: flex;
        justify-content: center;

        .custom-icon {
          width: 60px;
          height: 60px;
        }
      }

      .user-management-header-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;

        .user-management-header {
          margin-top: 18px;

          .header-label-1 {
            width: 100%;
            color: rgb(24, 133, 183);
            font-size: 22px;
            font-family: OpenSans-Bold, sans-serif;
            font-weight: bold;
            letter-spacing: -0.37px;
            line-height: 24px;
          }

          .header-label-2 {
            width: 100%;
            color: rgb(24, 133, 183);
            font-size: 18px;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: normal;
            letter-spacing: -0.37px;
            line-height: 24px;
          }

          .header-label-3 {
            width: 100%;
            color: rgb(169, 171, 174);
            font-size: 16px;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: normal;
            text-align: center;
            letter-spacing: -0.27px;
          }
        }
      }
    }

    .user-management-body {
      margin-top: 50px;

      .input-wrapper {
        width: 100%;
        height: 52px;
        border: 2px solid rgb(162, 164, 167);
        margin-top: 34px;
        border-radius: 2px;

        .form-labels {
          position: absolute;
          margin: -10px 0px 0px 14px;
          padding: 0px 3px 0px 3px;
          background-color: white;
          font-size: 12px;
          font-family: OpenSans-SemiBold, sans-serif;
          font-weight: normal;
          line-height: 18px;
        }

        .form-inputs {
          height: 48px;
        }

        .form-inputs:disabled {
          background: white;
        }

        .check-icon {
          position: absolute;
          width: 20px;
          height: 20px;
          right: 35px;
          margin-top: 14px;
        }

        .disabled-email {
          display: flex;

          input {
            color: rgb(218, 220, 219);
          }

          .locker-icon {
            position: absolute;
            right: 30px;
            color: rgb(218, 220, 219);
            margin-top: 12px;
          }
        }

      }

      .resend-code-wrapper {
        margin-top: 20px;
        text-align: center;

        .resend-code-label {
          width: 100%;
          color: rgb(162, 164, 167);
          font-size: 16px;
          font-family: OpenSans-Regular, sans-serif;
          font-weight: normal;
          text-align: center;
          letter-spacing: -0.27px;
        }

        .resend-button {
          color: #59595B;
          text-decoration: underline;
          font-size: 16px;
          font-family: OpenSans-SemiBold, sans-serif;
          font-weight: 600;
          text-align: center;
          cursor: pointer;
          letter-spacing: -0.27px;
        }
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        //width: 147px;
        height: 22px;
        color: rgb(146, 156, 170);
        font-size: 16px;
        font-family: OpenSans-Regular, sans-serif;
        font-weight: normal;
        letter-spacing: -0.27px;
      }
    }
  }
}
