$background_blue: #F7F9FB;

.expansion-panel {

  .mat-list-base {
    padding: 0;
  }

  .content {
    background-color: white;
  }

  .header {
    background-color: #F2F5F8;
    border-top: 1px solid #DADCDB;
    border-bottom: 1px solid #D3D4D5;
    height: 48px;

    .header-content {
      background-color: #F2F5F8;
      position: sticky;
      height: inherit;
      left: 0;

      .header-title {
        padding-left: 16px;
        margin: 0;
        font-size: 16px;
        color: #A2A4A7;
      }
      .mat-icon {
        cursor: pointer;
        height: 48px;
        text-align: center;
        line-height: 47px;
        margin-right: 24px;
        color: #59595B;
      }
    }

    .date-cell {
      border: 0 !important;

      &.opened-shift {
        background-color: #FFE8E7;
        border: 1px solid #FF6C68 !important;

        .open-shift {
          background-color: #D0021B;
        }
      }
    }
  }

  .item-row {
    border-bottom: 1px solid #D3D4D5;

    .right {

      .date-cell {
        min-width: 45px;
        position: relative;

        &.clickable {
          cursor: pointer;
        }

        &.clickable:hover {
          background-color: #E0EEC9;
        }

        .single-day {
          width: 6px;
          height: 6px;
          border-radius: 3px;
          background-color: #9fc53a;
          position: absolute;

        }

        &.removed-staff {
          background-color: #FFE8E7;
          border: 1px solid #FF6C68 !important;
          cursor: pointer;

          .single-day {
            background-color: #D0021B;
          }
        }

        &.removed-staff:hover {
          background-color: #FDE8E7;
        }

        .line {
          height: 6px;

          .inner-left {
            height: 6px;
            width: 90%;
            background-color: #9fc53a;
            float: left;
            margin: 0 -1px;
            border-radius: 0 3px 3px 0;
          }

          .inner-right {
            height: 6px;
            width: 90%;
            background-color: #9fc53a;
            float: right;
            margin: 0 -1px;
            border-radius: 3px 0 0 3px;
          }
          &.middle {
            .inner-left, .inner-right {
              border-radius: unset;
              //margin: 0;
              width: calc(50% + 1px);
            }
          }
        }
      }
    }
  }
}

.datepicker-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .6);
  z-index: 10000;
}

.datepicker-container {
  position: absolute;
  z-index: 10001;
  top: 400px;
  lefT: 400px;
}

