$background_blue: #F7F9FB;

.expansion-panel {

  .mat-list-base {
    padding: 0;
  }

  .header {
    background-color: #F1F5F8;
    border: 2px solid #D3D4D5;

    .header-content {
      width: 430px !important;
      border-right: 2px solid #D3D4D5;

      .header-title {
        padding-left: 50px;
      }
      .mat-icon {
        cursor: pointer;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 47px;
        margin-right: 30px
      }
    }
  }

  .item-row {
    border-bottom: 1px solid #D3D4D5;

    .right {

      .date-cell {
        //border-right: 2px solid $background_blue;
        cursor: pointer;
        min-width: 45px;
        position: relative;

        .single-day {
          width: 16px;
          height: 16px;
          border-radius: 8px;
          background-color: #9fc53a;
          position: absolute;

        }

        &.removed-staff {
          background-color: #FDE8E7;
          border: 1px solid #F5827E;

          .single-day {
            background-color: #D0381E;
          }
        }

        .line {
          height: 12px;

          .inner-left {
            height: 12px;
            width: 50%;
            background-color: #9fc53a;
            float: left;
            border-radius: 0 6px 6px 0;
          }

          .inner-right {
            height: 12px;
            width: 50%;
            background-color: #9fc53a;
            float: right;
            border-radius: 6px 0 0 6px;
          }
          &.middle {
            .inner-left, .inner-right {
              border-radius: unset;
            }
          }
        }

        &.isSunday {
        border-right: 2px solid #F7FBFF;
        }
      }
    }
  }
}
