<div class="data">
  <div class="expansion-panel" fxFlex fxLayout="column">

    <div class="header">
      <div class="header-content" fxLayoutAlign="center center">
        <h1 class="header-title" fxFlex="1 1 auto">{{title}}</h1>
        <mat-icon *ngIf="!expanded" (click)="expanded = true">expand_more</mat-icon>
        <mat-icon *ngIf="expanded" (click)="expanded = false">expand_less</mat-icon>
      </div>
    </div>

    <div class="content" *ngIf="expanded">
      <div class="content-wrapper" fxFlex fxLayout="column">
        <mat-list fxLayout="column" fxFlex="">
          <div fxFlex *ngFor="let el of staff">

            <div fxFlex class="item-row">

              <div class="left weekly-left-column">
                <app-staff-card [staffMember]="el" [showNotPresent]="false"></app-staff-card>
              </div>

              <div class="right" fxLayout="row" fxFlex>
                <div class="date-cell" fxFlex="1 0 auto" *ngFor="let w of days; let i = index"
                     [ngClass]="{'removed-staff':isAway(el, w)}"
                     (click)="isAway(el, w)? fillShift(el, w.date) : isPresent(el, w)? openShiftDetails(el, w.date) : ''">
                  <div fxFlex="1 1 auto" fxLayoutAlign="center center">
                    <div class="single-day"
                      *ngIf="isAway(el, w) || (isPresent(el, w) && !hasPresentOnRight(el, w, i) && !hasPresentOnLeft(el, w, i))">
                    </div>
                    <div class="line" fxFlex
                         [ngClass]="{middle: hasPresentOnLeft(el, w , i) && hasPresentOnRight(el, w, i)}"
                         *ngIf="hasPresentOnLeft(el, w , i) || hasPresentOnRight(el, w, i)">
                      <div class="inner-left" *ngIf="hasPresentOnLeft(el, w, i)"></div>
                      <div class="inner-right" *ngIf="hasPresentOnRight(el, w, i)"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div fxFlex class="item-row">
            <div class="left weekly-left-column">
              <add-shift (addShift)="addStaff()"></add-shift>
            </div>
            <div class="right">

            </div>
          </div>
        </mat-list>
      </div>
    </div>

  </div>
</div>
