<mat-expansion-panel class="move">
  <mat-expansion-panel-header expandedHeight="48px">
    Change Unit
  </mat-expansion-panel-header>
  <div class="change-unit-body" fxLayout="column" fxLayoutGap="12px">
    <mat-radio-group [(ngModel)]="unitToMove">
      <mat-list role="list" fxLayout="column">
        <mat-list-item role="listitem" *ngFor="let el of elements | async">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
            <mat-radio-button [value]="el.value">{{ el.value }}</mat-radio-button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-radio-group>
    <div class="actions">
      <div class="actions-wrapper" fxFlex fxLayoutAlign="center">
        <button mat-button class="action-button" [disabled]="!unitToMove"
                [ngClass]="unitToMove ? 'complete' : 'disabled'" (click)="moveToUnit()"
        >Move
        </button>
      </div>
    </div>
  </div>
</mat-expansion-panel>
