$background-color: linear-gradient(-180deg, rgb(23, 133, 184) 0%, rgb(113, 191, 228) 100%);
$text-color: rgb(250, 250, 250);

.staff-view {
  display: block;
  //transform: scale(1,-1);
  width: 100%;

  .header {
    background-image: $background-color;
    overflow: hidden;
    height: 107px;
    padding: 17px 0;
    color: $text-color;
  }

  .header-padding {
    padding-left: 20px;
  }

  .header-text {
    margin-top: 35px;
    font-family: OpenSans-SemiBold;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    float: left;
  }

  .add-staff {
    margin-top: 30px;
    float: right;
    display: inline-block;
    margin-right: 20px;
  }

  .filters {
    color: rgb(255, 255, 255);
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    font-weight: 600;
    height: 22px;
    letter-spacing: 0px;
    width: 82px;
  }

  .filters-wrapper {
    width: 400px;
    float: left;
  }

  .filter-wrapper {
    display: inline-block;
    width: 33%;
  }

  .more-icon {
    margin-top: 35px;
    display: inline-block;
  }

  .cancel-icon {
    position: relative;
    height: 24px;
    width: 24px;
    color: white;
    cursor: pointer;
    top: 6px;
  }

  .arrow-icon {
    cursor: pointer;
    font-size: 12px;
  }

  .arrow-up {
    display: block;
    padding-top: 15px;
    color: inherit;
  }

  .arrow-down {
    display: block;
    padding-bottom: 40px;
    color: inherit;
  }

  .not-found {
    text-align: center;
    height: 90%;
  }

  .table-wrapper {
    width: 100%;
    background-color: white;

    .table-customisation {
      width: 99%;
      margin: auto;

      ::ng-deep .mat-sort-header-sorted {
        color: rgb(24, 133, 183);
      }

      ::ng-deep .mat-sort-header-arrow[style] {
        display: none;

        // Hide default arrow stem
        .mat-sort-header-stem {
          display: none;
        }

        .mat-sort-header-indicator {
          opacity: 1;
          color: black;
          font-weight: bold;
          display: none;

          // Hide default arrow as its composed of left, right and middle
          .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
            display: none;
          }
        }
      }

      .user-initials {
        background: rgb(242, 245, 248);
        border-radius: 50%;
        padding: 10px;
        color: rgb(0, 117, 173);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
      }

      .customized-cell-1 {
        color: rgb(114, 128, 138);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        height: 100px;
      }

      .customized-cell-2 {
        color: rgb(152, 167, 180);
        font-size: 16px;
        font-family: OpenSans-Regular;
        font-weight: normal;
        line-height: 24px;
        height: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .customized-cell-3 {
        color: rgb(114, 128, 138);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        height: 100px;
      }

      .customized-headers-1 {
        color: rgb(89, 89, 91);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
      }

      .customized-headers-2 {
        color: rgb(89, 89, 91);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        text-align: center!important;
      }

      .customized-headers-3 {
        color: rgb(89, 89, 91);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
      }

      .header-1 .column-1 {
        text-align: left;
        width: 19%;
      }

      .header-2 .column-2 {
        text-align: center;
        width: 15%;
      }

      .header-3 .column-3 {
        text-align: center;
        width: 13%;
      }

      .header-4 .column-4 {
        text-align: center;
        width: 23%;
      }

      .header-5 .column-5 {
        text-align: center;
        width: 15%;
      }

      .header-6 .column-6 {
        text-align: right;
        width: 15%;
        display: flex;
        justify-content: right;
      }
    }
  }
}
