<div class="staff-view">
  <div class="header">
    <label class="header-text header-padding">
      Directory (</label><label class="header-text" *ngIf="filtered != total">{{filtered}} / </label>
    <label class="header-text">{{total}})&nbsp;&nbsp;&nbsp;</label>
    <div class="filters-wrapper" [ngStyle]="{'margin-top': appliedFilters.length <= 3 ? '35px' : '25px'}">
      <div *ngFor="let item of appliedFilters| slice:0:6;" class="filter-wrapper">
        <a><i (click)="removeFilter(item);utils.filterCardChanged.next(false);" class="material-icons cancel-icon">cancel</i></a><label class="filters"> {{ item['name'] }}</label>
      </div>
    </div>
    <div class="more-icon" (click)="utils.filterCardChanged.next(true)" *ngIf="appliedFilters.length > 6">
      <i class="material-icons cancel-icon">filter_{{ (appliedFilters.length - 6) < 10  ? (appliedFilters.length - 6) : 9 }}{{ (appliedFilters.length - 6) < 10 ? "" : "_plus" }}</i> More
    </div>
      <button (click)="addNewStaffPanel()" mat-button class="action-button complete add-staff"><span class="add-button-label">ADD NEW STAFF</span></button>
  </div>
  <div class="table-wrapper">
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSortActive="lastName" matSortDirection="asc" matSort class="table-customisation">

        <!-- Name -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell class="customized-headers-1 header-1" *matHeaderCellDef mat-sort-header> NAME
            <div>
              <i class="material-icons arrow-up">arrow_drop_up</i>
              <i class="material-icons arrow-down">arrow_drop_down</i>
            </div>
          </mat-header-cell>
          <mat-cell class="customized-cell-1 column-1" *matCellDef="let row">
            <label class="user-initials">{{ row.firstName.substring(0, 1) }}{{ row.lastName.substring(0, 1) }}</label>&nbsp;&nbsp;<label>{{ row.firstName + " " + row.lastName }}</label>
          </mat-cell>
        </ng-container>

        <!-- Employment -->
        <ng-container matColumnDef="employmentType.employmentTypeName">
          <mat-header-cell class="customized-headers-2 header-2" *matHeaderCellDef mat-sort-header> EMPLOYMENT
            <div>
              <i class="material-icons arrow-up">arrow_drop_up</i>
              <i class="material-icons arrow-down">arrow_drop_down</i>
            </div>
          </mat-header-cell>
          <mat-cell class="customized-cell-2 column-2" *matCellDef="let row"> {{ row.employmentType.employmentTypeName }} </mat-cell>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="staffType.staffTypeName">
          <mat-header-cell class="customized-headers-2 header-3" *matHeaderCellDef mat-sort-header> TYPE
            <div>
              <i class="material-icons arrow-up">arrow_drop_up</i>
              <i class="material-icons arrow-down">arrow_drop_down</i>
            </div>
          </mat-header-cell>
          <mat-cell class="customized-cell-2 column-3" *matCellDef="let row"> {{ row.staffType.staffTypeName }} </mat-cell>
        </ng-container>

        <!-- Shifts -->
        <ng-container matColumnDef="shifts">
          <mat-header-cell class="customized-headers-2 header-4" *matHeaderCellDef> SHIFT DAYS & HOURS </mat-header-cell>
          <mat-cell [innerHTML]="row.shiftDaysString" class="customized-cell-4 column-4" *matCellDef="let row">
          </mat-cell>
        </ng-container>

        <!-- Phone -->
        <ng-container matColumnDef="phone">
          <mat-header-cell class="customized-headers-2 header-5" *matHeaderCellDef> PHONE </mat-header-cell>
          <mat-cell class="customized-cell-2 column-5" *matCellDef="let row"> {{ row.phone }} </mat-cell>
        </ng-container>

        <!-- View -->
        <ng-container matColumnDef="view">
          <mat-header-cell class="customized-headers-3 header-6" *matHeaderCellDef> <button mat-button>Print <mat-icon>print</mat-icon></button></mat-header-cell>
          <mat-cell class="customized-cell-5 column-6" *matCellDef="let row">
            <span>
              Profile Details <i class="material-icons arrow-icon">arrow_forward_ios</i>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row class="header-background" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngStyle]="{display: (selectedRow && (row.id === selectedRow.row.id) && selectedRow.opened) ? 'none' : ''}"
                 (valueChange)="selectedRow = $event" *matRowDef="let row; columns: displayedColumns;" matRipple
                 (click)="staffService.profileClicked.next(row)" class="element-row"
                 [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
        </mat-row>
      </mat-table>
    </div>

    <ng-template #tpl let-element>
      <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
        <app-staff-profile *ngIf="element.employmentType.employmentTypeId !== 4"
                           (userUpdated)="updateUser($event)"
                           [staffMember]="element" [shifts]="shiftTypes" [days]="days" [staffTypes]="staffTypes"
                           [employmentTypes]="employmentTypes" [genderTypes]="genderTypes" [unit]="units"
                           (removed)="staffService.profileClicked.next(element)"></app-staff-profile>
        <app-intelypro-profile *ngIf="element.employmentType.employmentTypeId === 4" [staffMember]="element" [shifts]="shiftTypes" (removed)="staffService.profileClicked.next(element)"></app-intelypro-profile>
      </div>
    </ng-template>

    <div *ngIf="dataSource && dataSource.filteredData.length == 0" class="not-found">
        <br /><br /><br /><br /><br />
        <img src="assets/NoResult.svg" alt="No Result" />
        <br /><br />
        <button mat-button (click)="clearSearch()" class="action-button complete">SHOW FULL STAFF</button>
      </div>
    </div>
</div>


