<div class="staff-view">
  <div class="header">
  <label class="header-text header-padding">
    Staff Directory (</label><label class="header-text" *ngIf="filtered != total">{{filtered}} / </label>
  <label class="header-text">{{total}})&nbsp;&nbsp;&nbsp;</label>
  <div class="filters-wrapper" [ngStyle]="{'margin-top': appliedFilters.length <= 3 ? '35px' : '25px'}">
    <div *ngFor="let item of appliedFilters| slice:0:6;" class="filter-wrapper">
      <a><i (click)="removeFilter(item);utils.filterCardChanged.next(false);" class="material-icons cancel-icon">cancel</i></a><label class="filters"> {{ item['name'] }}</label>
    </div>
  </div>
  <div class="more-icon" (click)="utils.filterCardChanged.next(true)" *ngIf="appliedFilters.length > 6">
    <i class="material-icons cancel-icon">filter_{{ (appliedFilters.length - 6) < 10  ? (appliedFilters.length - 6) : 9 }}{{ (appliedFilters.length - 6) < 10 ? "" : "_plus" }}</i> More</div>
  <button mat-button class="action-button complete add-staff">ADD NEW STAFF</button>
</div>
  <div class="table-wrapper">
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSortActive="lastName" matSortDirection="asc" matSort class="table-customisation">

        <!-- Name -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell class="customized-headers-1" *matHeaderCellDef mat-sort-header> NAME
            <div>
              <i class="material-icons arrow-up">arrow_drop_up</i>
              <i class="material-icons arrow-down">arrow_drop_down</i>
            </div>
          </th>
          <td mat-cell class="customized-cell-1 column-1" *matCellDef="let row">
            <label class="user-initials">{{ row.firstName.substring(0, 1) }}{{ row.lastName.substring(0, 1) }}</label>&nbsp;&nbsp;<label>{{ row.firstName + " " + row.lastName }}</label>
          </td>
        </ng-container>

        <!-- Employment -->
        <ng-container matColumnDef="employmentType.employmentTypeName">
          <th mat-header-cell class="customized-headers-3" *matHeaderCellDef mat-sort-header> EMPLOYMENT
            <div>
              <i class="material-icons arrow-up">arrow_drop_up</i>
              <i class="material-icons arrow-down">arrow_drop_down</i>
            </div>
          </th>
          <td mat-cell class="customized-cell-2 column-2" *matCellDef="let row"> {{ row.employmentType.employmentTypeName }} </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="staffType.staffTypeName">
          <th mat-header-cell class="customized-headers-4" *matHeaderCellDef mat-sort-header> TYPE
            <div>
              <i class="material-icons arrow-up">arrow_drop_up</i>
              <i class="material-icons arrow-down">arrow_drop_down</i>
            </div>
          </th>
          <td mat-cell class="customized-cell-2 column-3" *matCellDef="let row"> {{ row.staffType.staffTypeName }} </td>
        </ng-container>

        <!-- Shifts -->
        <ng-container matColumnDef="shifts">
          <th mat-header-cell class="customized-headers-2" *matHeaderCellDef> SHIFT DAYS & HOURS </th>
          <td mat-cell class="customized-cell-2 column-4" *matCellDef="let row">
            <div [innerHTML]="row.shiftDaysString"></div>
          </td>
        </ng-container>

        <!-- Phone -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell class="customized-headers-2" *matHeaderCellDef> PHONE </th>
          <td mat-cell class="customized-cell-2 column-5" *matCellDef="let row"> {{ row.phone }} </td>
        </ng-container>

        <!-- View -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell class="customized-cell-1 column-6" *matCellDef="let row">
            <span>
              Profile Details<i class="material-icons arrow-icon">arrow_forward_ios</i>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>

      </table>
    </div>
  </div>
</div>


