<div class="staff-card"
     [ngClass]="{
     removed: openShift || (staffMember?.away && showNotPresent),
     clickable: !openShift && !staffMember?.away && showNotPresent
     }">
  <mat-list-item>
    <div class="staff-card-container" fxFlex fxLayout="row">
      <ng-container *ngIf="openShift; then openShiftCard else showStaffData"></ng-container>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>

<ng-template #showStaffData>
  <div class="staff-card-chip">
    <app-chip-icon [name]="staffMember.fullName"></app-chip-icon>
  </div>
  <div class="staff-card-content" fxFlex="1 1 auto" fxLayout="column">
    <span class="bold-item title">{{staffMember.fullName | titlecase}}</span>
    <span class="subtitle">{{staffMember.employmentType}}</span>
  </div>
  <div class="staff-card-hours" *ngIf="!staffMember?.away || !showNotPresent">
    <span>{{ staffMember.hoursThisWeek}} hrs sched. this week</span>
  </div>
  <div class="staff-card-action" *ngIf="staffMember?.away && showNotPresent">
    <button mat-button class="action-button danger" (click)="$event.stopPropagation(); fillShift()">Fill</button>
  </div>
</ng-template>

<ng-template #openShiftCard>
  <div class="staff-card-chip">
    <app-chip-icon></app-chip-icon>
  </div>
  <div class="staff-card-content" fxFlex="1 1 auto" fxLayout="column">
    <span class="bold-item action-title">{{'open shift' | titlecase}}</span>
  </div>
  <div class="staff-card-actions">
    <button mat-button class="action-button danger" (click)="$event.stopPropagation(); createShift()">
      {{'fill shift' | uppercase}}
    </button>
  </div>
</ng-template>
