$title_color: #59595B;
$subtitle_color: #A2A4A7;
$removed_text_color: #d0021b;
$removed_background_color: #ffe8e7;
$removed_border_color: #ff6c68;

.staff-card {

  .mat-list-item {
    height: 72px;
  }

  .staff-card-content {
    padding-left: 16px;
    font-size: 16px;

    .title {
      color: $title_color;
    }

    .subtitle {
      color: $subtitle_color;
    }
  }

  .staff-card-hours {
    color: $subtitle_color;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    word-spacing: 1px;
    text-align: right;
    width: 107px;
  }

  .staff-card-iindicator {
    color: $subtitle_color;
    display: none;
  }

  &.hoverable:hover {
    background-color: #f2F5F8;

    .staff-card-iindicator {
      display: block;
    }

    .staff-card-hours {
      display: none;
    }

    ::ng-deep.chip-icon {
      background-color: #FFFFFF;
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &clickable:hover {

  }

  &.removed {
    background-color: $removed_background_color;
    border: 1px solid $removed_border_color;

    .staff-card-content {

      .title {
        text-decoration: line-through;
        color: $removed_text_color;
      }

      .subtitle {
        color: $removed_text_color;
      }
    }

    .action-title {
      color: $title_color;
      //margin-top: 10px;
    }

  }
}
