$background_blue: #F7FBFF;

.daily-view-header {

  .mat-chip.mat-standard-chip {
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: $background_blue !important;

    &.mat-chip-disabled {
      opacity: 1 !important;
    }
  }
}
.mat-chip-disabled {
  opacity: 1 !important;
}
