.shift-management-filter {
  background: #f2f5f8;
  border-radius: 2px 0 0 2px;
  border: 1px solid #eff0f4;
  height: 48px;

  ::ng-deep.mat-form-field {
    background-color: transparent;

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
      display: flex;
      flex: 1 1 auto;
    }

    .mat-form-field-outline {
      display: none;
    }

    .mat-form-field-infix {
      padding: 0;
      border: 0;
    }

    .mat-form-field-prefix {

      .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 18px;
        color: #72808a;
      }
    }
  }

  .mat-button {
    height: 40px;
    background-color: transparent;
    border-radius: 0;
    border-left: 1px solid #E1E4E7;
    color: #72808a;

    .mat-icon {
      color: #59595B;
    }
  }
}

.filters {
  position: absolute;
  top: calc(50vh - 200px);
  left: 0;
  z-index: 99999;
  padding: 16px;
  margin: 16px;
  width: calc(100% - 32px);
  background: #FFFFFF;
  border-radius: 0;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  span {
    color: rgb(114, 128, 138);
    font-size: 16px;
    font-weight: 600;
    height: 22px;
    letter-spacing: -0.49px;
  }

  &.hidden {
    display: none !important;
  }
}

.filter-overlay {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, .8);
}
