<div fxFlex fxLayout="column" class="shift-management-filter">

  <div class="shift-management-filter-wrapper" fxFlex fxLayout="row" fxLayoutGap="0" #trigger>
    <mat-form-field [appearance]="'outline'" fxFlex>
      <input matInput class="filter-input" fxFlex="1 1 auto" [formControl]="control">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>
        search staff ...
      </mat-label>
    </mat-form-field>

    <button mat-button (click)="toggle()">
      Filter
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>


  <div class="filters" [ngClass]="{'hidden': !searchOpened}">

    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px">
      <div class="unit" fxLayout="column" fxLayoutGap="12px">
        <span class="unit">Unit</span>
        <app-selectable-button-group [elements]="units | async" [multiple]="true"
                                     [selectedFilters]="selectedFilter.unit"
                                     (valueChange)="subject.next(['unit', $event])"></app-selectable-button-group>
      </div>

      <mat-divider></mat-divider>

      <div class="shift" fxLayout="column" fxLayoutGap="12px">
        <span class="shift">Shift</span>
        <app-selectable-button-group [elements]="shifts | async" [multiple]="true"
                                     [selectedFilters]="selectedFilter.shift"
                                     (valueChange)="subject.next(['shift', $event])"></app-selectable-button-group>
      </div>
    </div>

  </div>
</div>
