.shift-management-filter {
  background: rgb(242, 245, 248);
  border-radius: 2px 0 0 2px;
  border: 1px solid rgb(239, 240, 244);
  height: fit-content;

  ::ng-deep.mat-form-field {
    background-color: transparent;

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }
  }

  .mat-button {
    background-color: transparent;
  }
}


.test1 {
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1200;
}
