<div class="online-staff-view" fxFlex fxLayout="column">

  <div class="header">
    <online-staff-view-header #header [openShifts]="5" [responses]="responses.length"
                              [scheduledShifts]="myScheduleList.length"></online-staff-view-header>
  </div>

  <div class="calendar">
    <online-staff-view-calendar #calendar></online-staff-view-calendar>
  </div>

  <div class="content">

    <div class="my-schedule" *ngIf="header.selectedTab === 'scheduled'">
      <online-staff-view-my-schedule [shiftList]="myScheduleList"
                                     [dates]="calendar.dateList"></online-staff-view-my-schedule>
    </div>

    <div class="responses" *ngIf="header.selectedTab === 'responses'">
      <online-staff-view-responses [shiftList]="responses" [showPending]="true" [ispending]="true"
                                   [dates]="calendar.dateList"></online-staff-view-responses>
    </div>

    <div class="openShifts" *ngIf="header.selectedTab === 'openShifts'">
      <online-staff-view-responses [shiftList]="responses" [showPending]="false" [ispending]="false"
                                   [dates]="calendar.dateList"></online-staff-view-responses>

    </div>

  </div>
</div>
