<div class="shift-management">
  <div class="shift-management-wrapper" fxLayout="column" fxFlex fxFlexFill>

    <div class="header" fxFlex>
      <app-management-top-card title="Shift Details" [shiftDetails]="shiftDetails"></app-management-top-card>
    </div>

    <div class="content" fxFlexFill fxLayoutGap="20px" fxLayout="column" fxFlex="0 1 auto">

      <br/>

      <app-staff-card-expandable [staffMembers]="[staffMember]" [control]="false" ></app-staff-card-expandable>

      <app-change-unit *ngIf="!removingFromStaff"></app-change-unit>

      <app-change-shift [currentShift]="staffMember.shiftHours" *ngIf="!removingFromStaff"></app-change-shift>

      <div class="remove-div" [ngClass]="{hidden : !removingFromStaff}"
           fxFlex fxLayout="column" fxLayoutGap="20px">
        <mat-divider></mat-divider>
        <div class="remove-div-content" fxLayout="column" fxLayoutGap="12px">
          <span class="remove-div-title">Remove from shift</span>
          <span>Reason For Cancellation <span class="required">*Required</span></span>
          <app-selectable-button-group #cancelReason [elements]="elements | async" [maximumSelections]="1">
          </app-selectable-button-group>
        </div>

      </div>
    </div>

    <div class="actions" fxFlex="120px">
      <div class="actions-wrapper" fxFlex fxLayout="column" fxLayoutAlign="center" fxLayoutGap="12px">
        <button mat-button class="action-button partial" *ngIf="!removingFromStaff"
                fxFlexAlign="center" (click)="removingFromStaff = true">Remove From Shift
        </button>

        <button mat-button class="action-button" *ngIf="removingFromStaff" (click)="removeFromShift()"
                [disabled]="!cancelReason.control.valid" fxFlexAlign="center"
                [ngClass]="cancelReason.control.valid? 'complete' : 'disabled'">Remove From Shift
        </button>

        <button mat-button class="action-button cancel" *ngIf="removingFromStaff"
                fxFlexAlign="center" (click)="removingFromStaff = false">Cancel
        </button>
      </div>
    </div>

  </div>
</div>
