.shift-management {
  width: fit-content;

  .shift-management-wrapper {
    padding: 0 10px;
    width: fit-content;
    min-width: 400px;
    max-width: 600px;
    height: inherit;

    .content {

    }

    .actions {
      border-top: 1px solid red;
    }
  }

  .required {
    color: red
  }

}
