<mat-toolbar class="p-0 mat-elevation-z1">

  <div class="toolbar-wrapper">

    <div class="toolbar-menu" fxLayoutGap="24px" fxLayoutAlign="start center">

      <!--<button mat-icon-button class="navbar-toggle-button"-->
      <!--(click)="route.navigate(['/home']);">-->
      <!--<mat-icon class="secondary-text">menu</mat-icon>-->
      <!--</button>-->

      <!--<div fxLayout="row" fxLayoutAlign="start center">-->
      <!--<div class="logo ml-16">-->
      <!--<span class="current-route">{{ currentRoute | async }}</span>-->
      <!--</div>-->
      <!--</div>-->
      <div class="itelycare-logo" fxLayoutAlign="start center">
        <img src="assets/images/intelycare _logo.svg">
      </div>

      <div class="navigation" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <span class="navigation-item" routerLink="/daily" routerLinkActive="active">Schedule</span>
        <span class="navigation-item" routerLink="/home" routerLinkActive="active">Staff Directory</span>
      </div>


    </div>

    <div class="filter" *ngIf="(currentRoute | async) !== 'Home'">
      <div class="filter">
        <user-filter></user-filter>
      </div>
    </div>

    <div class="toolbar-avatar">
      <app-chip-icon name="Danielle M" [matMenuTriggerFor]="userMenu"></app-chip-icon>
    </div>

    <mat-menu #userMenu="matMenu" class="user-menu" panelClass="user-menu">
      <div fxFlex fxLayout="column">
        <div class="user-info" fxFlex fxLayout="column" fxLayoutGap="4px" (click)="$event.stopPropagation()">
          <span class="user-fullname">Danielle Miozza</span>
          <span class="user-email">DMiozza@charwellhc.com</span>
        </div>
        <span class="user-menu-divider" fxFlex="1 1 auto"></span>
        <div class="logout" fxFlex>
          <button class="logout-button" mat-button fxFlex>Sign Out</button>
        </div>
      </div>
    </mat-menu>

  </div>

</mat-toolbar>
