@import "src/@theme/scss/fuse";

$background-color: #1785B8;

toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  background-color: $background-color;
  height: 48px;
  padding: 0 16px;

  .mat-toolbar {
    height: 48px;
  }

  .toolbar-wrapper {
    display: inline-flex;
    width: 100%;

    .toolbar-menu {
      flex: 1;
      display: flex;
      align-items: center;

      .current-route {
        height: 20px;
        color: #FFFFFF;
        font-size: 16px;
        font-family: OpenSans-Bold, sans-serif;
        font-weight: bold;
        line-height: 20px;
      }
    }

    .filter {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
    }

    .toolbar-avatar {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      app-chip-icon {
        cursor: pointer !important;
      }
    }

  }

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 38px;
    }
  }

  .navbar-toggle-button {
    min-width: 56px;
    height: 56px;
  }

  .navigation {

    .navigation-item {
      font-size: 16px;
      height: 30px;
      cursor: pointer;
      color: #A4CEE3;
      text-transform: uppercase;

      &.active {
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
      }
    }
  }

}

.user-menu-divider {
  height: 1px !important;
  background-color: #F9FBFC !important;
  margin: 10px 20px 0 20px;
}

.user-info {
  padding: 0 16px;
  font-size: 16px;

  .user-fullname {
    font-weight: 600;
    color: #2289B9;
  }

  .user-email {
    color: #838384;
  }
}

.logout-button {
  color: #D3D4D5 !important;
  font-size: 16px;
  font-weight: normal;
  text-align: left !important;
}
