<div class="wrapper" fxLayout="column" fxLayoutGap="12px">

  <div class="staff-card-expandable" *ngFor="let staffMember of staffMembers; let i = index">
    <mat-expansion-panel #a>
      <mat-expansion-panel-header collapsedHeight="72px" expandedHeight="72px"
                                  [ngClass]="{selected: a.expanded}">
        <div class="header-content" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">

          <div class="staff-card-expandable-checkbox" *ngIf="control" fxLayoutAlign="center center">
            <mat-checkbox (click)="$event.stopPropagation();" (change)="selectionChange.emit(staffMember)"
                          ></mat-checkbox>
          </div>

          <div class="staff-card-expandable-chip" fxLayoutAlign="center center">
            <app-chip-icon [name]="staffMember.fullName"></app-chip-icon>
          </div>

          <div class="staff-card-expendable-content" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center start">
            <span class="bold-item title">{{staffMember.fullName | titlecase}}</span>
            <span class="subtitle">{{staffMember.employmentType}}</span>
          </div>

          <div class="staff-card-hours">
            <span class="bold-item">{{staffMember.hoursThisWeek}} hrs sched. this week</span>
          </div>

          <div class="icon-indicator" fxLayoutAlign="center center">
            <mat-icon *ngIf="!a.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="a.expanded">keyboard_arrow_down</mat-icon>
          </div>

        </div>
      </mat-expansion-panel-header>
      <div class="expansion-panel-body" fxFlex fxLayout="column" fxLayoutGap="22px">

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Staff Type:</span>
          <span class="user-info-subtitle">{{staffMember.staffType}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Gender:</span>
          <span class="user-info-subtitle">{{staffMember.gender | titlecase}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Shift Days:</span>
          <span class="user-info-subtitle">{{staffMember.shiftDays.join(", ")}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Shift Hours:</span>
          <span class="user-info-subtitle">{{staffMember.shiftHours}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Hire Date:</span>
          <span class="user-info-subtitle">{{staffMember.hireDate | date : 'M/dd/yyyy'}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Email:</span>
          <span class="user-info-subtitle">{{'info@intelycare.com'}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Phone:</span>
          <span class="user-info-subtitle">{{staffMember.phone}}</span>
        </div>

        <div class="notes" fxLayout="column">
          <span class="user-info-title"> Notes</span>

          <mat-form-field appearance="outline">
            <textarea matInput #note placeholder="Add a Note ...."></textarea>
            <mat-hint align="end">{{note.value.length}} / 256</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
