$title_color: #72808a;
$subtitle_color: #98a7b4;
$header_border_color: #cacaca;

.staff-card-expandable {

  .mat-expansion-panel {
    box-shadow: unset;
    border: 1px solid $header_border_color;

    .mat-expansion-panel-header {
      padding-left: 0;
    }

    .header-content {
      height: 60px;
      padding-top: 8px;
      padding-left: 8px;

      div {
        height: 60px;
      }

      .staff-card-hours {
        margin-right: 16px;
        color: rgb(152, 167, 180);
        font-family: OpenSans-SemiBoldItalic;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        word-spacing: 1px;
        height: 48px;
        line-height: 24px;
        text-align: right;
        width: 102px;
      }

      .staff-card-expandable-checkbox {
        margin: 12px 16px 0 8px;
      }
    }

    .expansion-panel-body {
      margin-top: 20px;

      .user-info-title {
        width: 109px;
        font-size: 16px;
        font-weight: bold;
        color: $title_color;
      }

      .user-info-subtitle {
        font-size: 14px;
        color: $subtitle_color;
      }
    }
    .notes {
      textarea {
        resize: none;
      }
    }
  }

  .staff-card-expendable-content {
    padding-left: 16px;
    font-size: 16px;

    .title {
      color: $title_color;
    }

    .subtitle {
      color: $subtitle_color;
    }
  }

}
