<div class="wrapper" fxLayout="column" fxLayoutGap="12px" >

  <div class="staff-card-expandable" *ngFor="let staffMember of staffMembers; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <div class="header-content" fxFlex="1 1 auto" fxLayout="row">

          <div class="staff-card-expandable-checkbox" *ngIf="control">
            <mat-checkbox (click)="$event.stopPropagation();" (change)="toggleValue($event.checked, staffMember, i)"
            [checked]="selected[i]"></mat-checkbox>
          </div>

          <div class="staff-card-expandable-chip">
            <app-chip-icon [name]="staffMember.fullName"></app-chip-icon>
          </div>

          <div class="staff-card-expendable-content" fxFlex="1 1 auto" fxLayout="column">
            <span class="bold-item title">{{staffMember.fullName | titlecase}}</span>
            <span class="subtitle">{{staffMember.staffType}}</span>
          </div>

          <div class="staff-card-hours">
            <span class="bold-item">{{staffMember.hoursThisWeek}} &nbsp; hours this week</span>
          </div>

        </div>
      </mat-expansion-panel-header>
      <div class="expansion-panel-body" fxFlex fxLayout="column" fxLayoutGap="22px">

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Staff Type:</span>
          <span class="user-info-subtitle">{{staffMember.staffType}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Gender:</span>
          <span class="user-info-subtitle">{{staffMember.gender | titlecase}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Shift Days:</span>
          <span class="user-info-subtitle">{{staffMember.shiftDays.join(", ")}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Shift Hours:</span>
          <span class="user-info-subtitle">{{staffMember.shiftHours}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Hire Date:</span>
          <span class="user-info-subtitle">{{staffMember.hireDate | date : 'mm/dd/yyyy'}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Email:</span>
          <span class="user-info-subtitle">{{'info@intelycare.com'}}</span>
        </div>

        <div class="user-info" fxFlex fxLayout="row" fxLayoutGap="12px">
          <span class="user-info-title">Phone:</span>
          <span class="user-info-subtitle">{{staffMember.phone}}</span>
        </div>

        <div class="notes" fxLayout="column">
          <span class="user-info-title"> Notes</span>

          <mat-form-field appearance="outline">
            <textarea matInput #note placeholder="Add a Note ...."></textarea>
            <mat-hint align="end">{{note.value.length}} / 256</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
