<div class="main-menu" fxFlex fusePerfectScrollbar
     [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
  <div class="main-menu-container" fxFlex fxLayout="column">
    <div class="main-menu-header" fxFlex>
      <h3 class="main-menu-header-title">Hello, &nbsp; {{ username }}!</h3>
    </div>

    <div class="main-menu-content" fxFlex fxLayout="column">
      <div class="main-menu-content-wrapper" fxFlex fxLayout="row" fxLayoutGap="36px">
        <user-tasks></user-tasks>
        <shifts-to-fill></shifts-to-fill>
        <requests></requests>
        <request-intelypro></request-intelypro>

      </div>
    </div>
  </div>
</div>
