add-shift {

  .add-shift {
    height: 72px;
  }

  .clickable {
    cursor: pointer;
  }

  .clickable:hover {
    background-color: #f2F5F8;
  }

  .mat-list-item {
    .mat-list-item-content {
      height: 72px !important;
    }
  }
  .title {
    color: #A2A4A7;
    font-weight: bold;
    font-size: 16px;
  }

  .mat-icon {
    color: #59595b;
  }
}
