<div class="add-shift" (click)="clickable ? addShiftOption($event) : ''" [ngClass]="{'clickable': clickable}">
  <mat-list-item fxFlex>

    <div class="wrapper" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <div class="content" fxFlex="1 1 auto" fxLayoutAlign="row">
        <span class="title">Add Staff</span>
      </div>
      <div class="action">
        <button mat-icon-button (click)="clickable ? '' : addShiftOption($event)"><mat-icon>add</mat-icon></button>
      </div>
    </div>

  </mat-list-item>
</div>
