<div class="weekly-view" fusePerfectScrollbar (scroll)="onWheelEvent($event)" #container
     [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}"
     [ngClass]="{'monthly-content': (config.dateRange === 'monthly' || 'custom'),
                'weekly-content': (config.dateRange === 'weekly')
                  }">


  <div class="weekly-view-content" fxFlex="">
    <div class="results" *ngIf="currentElement" fxFlex fxLayout="column">

      <weekly-data-container fxFlex *ngFor="let a of currentElement[primaryField]" [days]="weekdays"
                             [shiftDetails]="getShiftDetails(a)"
                             [data]="a" [primaryField]="primaryField"></weekly-data-container>
    </div>
  </div>

</div>
