$background_blue: #F7FBFF;

.weekly-view {
  overflow: auto;
  .weekly-view-header {
    min-width: fit-content;
    height: 135px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, .1);

    .side-actions {
      padding: 10px;

      ::ng-deep .mat-select-value {
        color: #1785B8;
        font-size: 16px;
        padding-left: 21px;
        font-weight: bold;
      }

      ::ng-deep.mat-form-field-flex {
        background-color: $background_blue;
        border: 1px solid #DADDE1;
        border-radius: 3px;
      }

      ::ng-deep.mat-form-field-outline {
        display: none;
      }
    }
  }

  .calendar {
    .date-cell {
      //height: inherit;
      color: #333333;
      border-radius: 0;
      border-right: 2px solid $background_blue;
      overflow: hidden;
      padding: 0;
      min-width: 45px;

      .date-option-value {
        font-size: 16px;
        padding: 0;

      }

      .date {
        width: 35px;
        height: 35px;
        line-height: 37px;
        margin-bottom: 5px;
      }

      .day {
        color: #7D818C;
        margin-bottom: 6px
      }

      .mat-icon {
        font-size: 12px;
      }

      &.selected {
        //background-color: $background_blue;

        .date {
          //background-color: #1785B8;
          //color: white;
          //border-radius: 50%;
        }
      }
    }

  }

  .weekly-view-content {
    margin-top: 9px;
  }
}
