$background_blue: #F2F5F8;

.weekly-view {
  overflow-x: hidden;
  width: 100vw;
  margin-right: 100vw;
  position: relative;
  //max-height: 100vh;


  &.monthly-content {

    ::ng-deep.date-cell {
      border-right: 1px solid #F2F5F8;

      &.isSunday {
        border-right: 1px solid #D3D4D5;
      }
    }
  }

  &.weekly-content {
    ::ng-deep.date-cell {
      border-right: 1px solid #D3D4D5;
    }
  }
}

.weekly-view-wrapper {
  width: inherit;
  min-height: 300px;
}

.mat-option.mat-selected {
  color: #1885B7 !important;
  background-color: #F2F5F8;
  font-size: 16px;
}

