.rating-modal-content {

  .title-wrapper {
    margin-left: 20px;

    .first-line-header {

      .header-image {
        background: #f2f5f8;
        color: #0075ad;
        border-radius: 50%;
        text-align: center;
        width: 70px;
        height: 70px;
        padding-top: 18px;
        padding-left: 18px;
        display: inline-flex;
      }

      .close-icon {
        float: right;
        cursor: pointer;
      }

      .main-star-icon {
        color: blue;
        font-size: 35px;
      }

    }

    .customized-header {
      color: rgb(114, 128, 138);
      font-size: 16px;
      margin-left: 10px;
      font-family: OpenSans-SemiBold;
      font-weight: 600;
      letter-spacing: -0.49px;
    }

  }

  .comment-wrapper {
    display: grid;
    width: 99%;
    margin: 30px;
    padding-right: 35px;

    .rating-header {

      display: inline-flex;

      .header-image{
        background: #f2f5f8;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        display: inline-flex;
        color: rgb(0, 117, 173);
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        font-weight: 600;
      }

      .header-text {
        display: grid;
        margin-left: 15px;

        .title-name {
          font-size: 30px;
          font-family: OpenSans-SemiBold;
          font-weight: 600;
          line-height: 24px;
        }

        .title-facility {
          font-size: 16px;
          font-family: OpenSans-Regular;
          font-weight: normal;
          line-height: 24px;
        }

      }

    }

    .rating-stars {
      display: inline-flex;
      margin-left: 53px;

      .main-star-icon{
        color: gold!important;
      }

      .date-custom-label {
        margin-left: 5px;
        font-size: 16px;
        font-family: OpenSans-Regular;
        font-weight: normal;
        line-height: 24px;
      }

    }

    .comments {
      margin-left: 53px;

      .comment-style {
        font-size: 16px;
        font-family: OpenSans-Regular;
        font-weight: normal;
        line-height: 24px;
      }
    }

  }

}
