.rangepicker-header {
  padding: 16px;

  .operation-title {
    color: rgb(25, 134, 185);
    font-size: 20px;
    font-weight: 600;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
  }

  .operation-title {
    padding: 18px;
  }

  .date-info {
    .info {
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      height: 48px;
      padding: 12px;
      font-size: 16px;
      width: 115px;
      color: rgb(25, 134, 185);
      font-weight: 600;
      text-transform: uppercase;

      &.month {
        cursor: pointer;
      }
    }
  }
}
