$text_blue: rgb(58, 168, 255);
$background_blue: #F7FBFF;
$border-color: #afeeee;

.daily-calendar {
  height: 160px;
  border-radius: 0 0 20px 20px;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, .1);
  padding-top: 16px;

  .daily-calendar-content {
    max-width: 100%;
    height: 71px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 200;

    .daily-calendar-action {
      min-width: 20px;
      height: inherit;
      position: absolute;
      border-radius: 0;
      top: 0;
      bottom: 0;

      &.left {
        left: 0;
        display: block;
        float: left;
      }

      &.right {
        right: 0;
        display: block;
        float: right;
      }
    }

    .calendar-options {
      width: inherit;
      height: inherit;

      .date-cell {
        height: inherit;
        border-radius: 0;
        font-family: OprnSans-SemiBold, sans-serif;

        .date-option-value {
          font-size: 16px;
          padding: 0;

        }

        .date {
          width: 26px;
          height: 26px;
          color: #59595B;
          margin-bottom: 15px;
        }

        .day {
          color: #A2A4A7;
          margin-bottom: 6px
        }

        .mat-icon {
          font-size: 12px;
        }

        &.selected {

          .date {
            background-color: #1885b7;
            color: #FFFFFF;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
