<!--<button class="sidebar-toggle">asdasdasd</button>-->

<!-- SHIFT DETAILS -->
<ng-container *ngIf="shiftManagementState && shiftManagementState.staffMember">
  <app-shift-details [shiftDetails]="shiftManagementState.shiftDetails"
                     [staffMember]="shiftManagementState.staffMember"></app-shift-details>
</ng-container>


<!-- FILL SHIFT -->
<ng-container *ngIf="shiftManagementState && !shiftManagementState.staffMember">
  <app-fill-shift-component [shiftDetails]="shiftManagementState.shiftDetails"></app-fill-shift-component>
</ng-container>
