$title_color: #728cba;
$subtitle_color: #98a7ba;

.staff-card-confirmation {
  border-radius: 2px;
  border: 1px solid rgb(203, 203, 203);
  box-shadow: 0 1px 4px 0 rgba(207, 207, 207, 0.5);

  .mat-list-item {
    height: 72px;
    flex: 1 1 auto;
  }

  .staff-card-confirmation-content {
    padding-left: 16px;
    font-size: 16px;

    .title {
      color: $title_color;
    }

    .subtitle {
      color: $subtitle_color;
    }
  }

  .staff-card-confirmation-response {
    padding-left: 16px;
    font-size: 16px;
    width: 107px;
    text-align: center;

    .title {
      padding-top: 8px;

      &.accept {
        color: #9fc53a;
      }

      &.reject {
        color: #d20a24;
      }

      &.pending {
        color: #2c87b9;
      }
    }
  }

  .staff-card-confirmation-actions {
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }
}
