<div class="daily-calendar">
  <div class="daily-calendar-content">
    <div class="calendar-options">
      <div class="calendar-options-wrapper" fxFlex fxLayout="row" >
        <button mat-button class="date-cell" *ngFor="let date of dateList"
                fxFlex="auto" [disableRipple]="true" (click)="changeDate(date)"
                [ngClass]="{selected: date == config.date}">
          <div class="date-option-value-wrapper" fxFlex fxLayout="column">
            <span class="date-option-value bold-item" *ngFor="let v of (date | date : 'MMM d').split(' ')" >
              {{ v | uppercase }}</span>
          </div>
        </button>
      </div>
    </div>
    <button mat-button class="daily-calendar-action left">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-button class="daily-calendar-action right">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
