$text_blue: rgb(58, 168, 255);
$background_blue: #F7FBFF;
$border-color: #afeeee;

.daily-calendar {
  flex: 1 1 auto;
  height: fit-content;
  border: 1px solid $border-color;

  .daily-calendar-content {
    flex: 1 1 auto;
    max-width: 100%;
    background-color: $background_blue;
    height: 68px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 200;

    .daily-calendar-action {
      min-width: 20px;
      height: inherit;
      position: absolute;
      border-radius: 0;
      top: 0;
      bottom: 0;

      &.left {
        left: 0;
        display: block;
        float: left;
      }

      &.right {
        right: 0;
        display: block;
        float: right;
      }
    }

    .calendar-options {
      width: inherit;
      height: inherit;


      .date-cell {
        min-width: calc(96% / 7);
        height: inherit;
        color: #333333;
        border-left: 1px solid ;
        border-right: 1px solid ;
        border-color: $border-color;
        border-radius: 0;

        .date-option-value {
          font-size: 18px;
          padding: 0;
          line-height: 1;
        }


        &.selected {
          background-color: #1785B8;
          color: white;
        }
      }
    }
  }
}
