<div class="daily-view-wrapper" fxLayout="column" fxLayoutGap="24px">
  <!-- MAIN MENU -->
  <ng-container>
    <main-menu></main-menu>
  </ng-container>
  <!-- / MAIN MENU -->

  <!--  DAILY VIEW CALENDAR -->
  <ng-container *ngIf="config.dateRange === 'daily' ">
    <daily-calendar></daily-calendar>
  </ng-container>

  <!--  VIEW TYPE CALENDAR -->
  <ng-container *ngIf="config.dateRange === 'daily'">
    <view-type></view-type>
  </ng-container>

  <!--  DAILY VIEW CONTENT -->
  <ng-container *ngIf="config.dateRange === 'daily' ">
    <daily-content></daily-content>
  </ng-container>

  <!--  WEEKLY VIEW CONTENT -->
  <ng-container *ngIf="config.dateRange !== 'daily'">
    <weekly-content></weekly-content>
  </ng-container>

</div>
