.daily-view-wrapper {
  width: inherit;
  max-width: inherit;
  padding-bottom: 120px;

  view-type {
    margin: 30px 16px;
  }

  daily-content {
    margin: 0 16px;
  }

  .weekly-header-container, .daily-header-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000001;
  }

  //.view-type-container {
  //    position: sticky;
  //    top: 160px;
  //    z-index: 1000001;
  //
  //  view-type {
  //    background-color: white;
  //  }
  //}
}
