.daily-view-wrapper {
  width: inherit;
  max-width: inherit;
  padding-bottom: 120px;

  view-type {
    margin: 30px 16px;
  }

  daily-content {
    margin: 0 16px;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    border-radius: 0;
    background-color: red;
    opacity: 0.8;
  }

  .weekly-header-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000001;
  }
}
