<div class="daily-view-wrapper" fxLayout="column">
  <!-- MAIN MENU -->
  <ng-container>
    <main-menu></main-menu>
  </ng-container>
  <!-- / MAIN MENU -->

  <!--  DAILY VIEW CALENDAR -->
  <ng-container *ngIf="config.dateRange === 'daily' ">
    <daily-calendar></daily-calendar>
  </ng-container>

  <!--  VIEW TYPE CALENDAR -->
  <ng-container *ngIf="config.dateRange === 'daily'">
    <view-type></view-type>
  </ng-container>

  <!--  DAILY VIEW CONTENT -->
  <ng-container *ngIf="config.dateRange === 'daily' ">
    <daily-content></daily-content>
  </ng-container>

  <!--  WEEKLY VIEW CONTENT -->
  <ng-container *ngIf="config.dateRange !== 'daily'" class="weekly-content">
    <div class="weekly-content-container">
      <weekly-content></weekly-content>
    </div>
  </ng-container>

  <button mat-button class="scroll-to-top" *ngIf="showScrollToTop">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

</div>
