<div class="daily-view-header" fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="24px" fxFlex="1 1 auto">

  <div class="today">
    <button mat-button (click)="goToToday()">Today</button>
  </div>

  <div class="print">
    <button mat-button (click)="openPrint()">Print
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <div class="date-range" fxFlex fxLayoutAlign="center center" fxLayout="row">
    <button mat-icon-button (click)="goBackwards()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <mat-chip-list [disabled]="true" class="chip-container">
      <mat-chip [disabled]="true" fxFlex="1 1 auto">

        <mat-icon class="test-icon">date_range</mat-icon>

        <span class="title bold-item" fxFlex="1 1 auto">{{ date | uppercase }}</span>

        <button mat-flat-button [matMenuTriggerFor]="dateType">
          <span>{{dailyViewConfig.dateRange | titlecase}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <!--<ejs-daterangepicker #dateRangePicker id='daterangepicker' placeholder='Select a range'></ejs-daterangepicker>-->

        <mat-menu #dateType="matMenu" class="top-header-menu" [overlapTrigger]="false" [yPosition]="'below'"
                  [xPosition]="'before'">
          <button mat-menu-item (click)="changeDateRange('daily')"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='daily'}"
          >{{ 'daily' | titlecase}}
          </button>
          <button mat-menu-item (click)="changeDateRange('weekly')"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='weekly'}"
          >{{ 'weekly' | titlecase}}
          </button>
          <button mat-menu-item (click)="changeDateRange('monthly')"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='monthly'}"
          >{{ 'monthly' | titlecase}}
          </button>
          <button mat-menu-item (click)="openCustomModal()"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange ==='custom'}"
          >{{ 'custom' | titlecase}}
          </button>
        </mat-menu>
      </mat-chip>
    </mat-chip-list>
    <button mat-icon-button (click)="goForward()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
