<div class="daily-view-header" fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="24px">

  <div class="today">
    <button mat-button (click)="goToToday()">Today</button>
  </div>

  <div class="print">
    <button mat-button (click)="openPrint()">Print <mat-icon>print</mat-icon></button>
  </div>

  <div class="date-range" fxFlex fxLayoutAlign="center center">
    <mat-chip-list [disabled]="true" class="chip-container">
      <mat-chip [disabled]="true">

        <mat-icon class="test-icon">date_range</mat-icon>

        <span class="title bold-item">{{ date | date : 'EEEE MMM d' | uppercase }}</span>

        <button mat-flat-button [matMenuTriggerFor]="dateType">
          <span>{{dailyViewConfig.dateRange | titlecase}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #dateType="matMenu">
          <button mat-menu-item (click)="changeDateRange('daily')"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='daily'}"
          >{{ 'daily' | titlecase}}
          </button>
          <button mat-menu-item (click)="changeDateRange('weekly')"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='weekly'}"
          >{{ 'weekly' | titlecase}}
          </button>
          <button mat-menu-item (click)="changeDateRange('monthly')"
                  [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='monthly'}"
          >{{ 'monthly' | titlecase}}
          </button>
        </mat-menu>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
