$text_blue: #2c87b9;
$background_blue: rgba(58, 168, 255, 0.3);

.daily-view-header {
  width: 400px;
  font-size: 16px;
  position: relative;

  .today {
    position: absolute;
    left: 0;
    top: 0;
    color: $text_blue;
    margin-top: 10px;

    .mat-button {
      font-size: 20px;
    }
  }

  .print {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;

    .mat-button {
      font-size: 20px;
    }
  }

  .date-range {
    display: inline-block;

    .chip-container {
      width: 400px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

      .title {
        margin-left: 10px;
        font-size: 20px;
        color: $text_blue;
      }

      .mat-flat-button {
        background-color: transparent;
      }

      ::ng-deep.mat-flat-button:active {
        background-color: transparent;
      }
    }
  }

  ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }
}

.itemSelected {
  color: $text_blue !important;
  font-weight: 600;

}

.top-header-menu {
  width: 300px;
  margin-top: 8px;
  margin-right: -10px;

  button {
    width: 400px
  }
}

#daterangepicker {

  .e-date-range-wrapper {
    //display: none;
  }
}
