<div class="daily-view-header" #container fxLayout.gt-md="row" fxLayout.lt-sm="column"
     fxLayoutGap.lt-sm="24px" fxFlex="1 1 auto">

  <div class="today">
    <button mat-button (click)="goToToday()">Today</button>
  </div>

  <div class="print">
    <button mat-button (click)="openPrint()">Print
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <div class="date-range" fxFlex fxLayoutAlign="center center" fxLayout="row">

    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">

      <mat-icon (click)="goBackwards()" *ngIf="dailyViewConfig.dateRange !== 'daily'">keyboard_arrow_left</mat-icon>

      <span class="title bold-item" fxFlex="1 1 auto">{{ date | uppercase }}</span>

      <mat-icon (click)="goForward()" *ngIf="dailyViewConfig.dateRange !== 'daily'">keyboard_arrow_right</mat-icon>

      <button mat-flat-button [matMenuTriggerFor]="dateType" class="date-range-menu-trigger">
        <span>{{dailyViewConfig.dateRange | titlecase}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

  </div>
</div>


<mat-menu #dateType="matMenu" class="top-header-menu" [overlapTrigger]="false" [yPosition]="'below'"
          [xPosition]="'after'">
  <button mat-menu-item (click)="changeDateRange('daily')"
          [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='daily'}"
  >{{ 'daily' | titlecase}}
  </button>
  <button mat-menu-item (click)="changeDateRange('weekly')"
          [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='weekly'}"
  >{{ 'weekly' | titlecase}}
  </button>
  <button mat-menu-item (click)="changeDateRange('monthly')"
          [ngClass]="{'itemSelected': dailyViewConfig.dateRange==='monthly'}"
  >{{ 'monthly' | titlecase}}
  </button>
  <button mat-menu-item (click)="openCustomModal()"
          [ngClass]="{'itemSelected': dailyViewConfig.dateRange ==='custom'}"
  >{{ 'custom' | titlecase}}
  </button>
</mat-menu>
