$title_color: #728cba;
$subtitle_color: #98a7ba;

.staff-card-checkbox {

  .mat-list-item {
    height: 72px;
    flex: 1 1 auto;
  }

  .staff-card-checkbox-content {
    padding-left: 16px;
    font-size: 16px;

    .title {
      color: $title_color;
    }

    .subtitle {
      color: $subtitle_color;
    }
  }
}
