<div>
  <mat-card class="staff-profile">
    <mat-card-header class="staff-profile-header">
      <label *ngIf="upcomingShifts && upcomingShifts.length > 0" class="next-shift-label">Next shift: {{ upcomingShifts[upcomingShifts.length - 1].shiftDate  | date:'mediumDate' }}</label>
      <i  class="material-icons cancel-icon" (click)="removed.next({})">cancel</i>
      <div class="header-image">
        {{ staffMember.firstName.substr(0, 1) + staffMember.lastName.substr(0, 1) }}
      </div>
      <mat-card-title>{{ staffMember.firstName + " " + staffMember.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ staffMember.staffType.staffTypeName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content-tabs">
      <mat-tab-group (selectedTabChange)="handleTabChange($event)">
        <mat-tab label="Profile"></mat-tab>
        <mat-tab label="Schedule"></mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-content class="content-data">
      <div *ngIf="selectedContent == 'Profile'">
        <mat-expansion-panel class="custom-collapsed custom-collapsed-profile">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Profile
            </mat-panel-title>
            <mat-panel-description>
              <u (click)="editPressed=true;$event.stopPropagation();" style="color: white;cursor: pointer">Edit</u>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table *ngIf="!editPressed;else editProfile" class="profile-table">
            <tr>
              <td class="profile-table-headers">Staff Name</td>
              <td class="profile-table-headers">Gender</td>
              <td class="profile-table-headers">Birthdate</td>
              <td class="profile-table-headers">SSN</td>
              <td class="profile-table-headers">Location</td>
              <td class="profile-table-headers">Phone Number</td>
              <td class="profile-table-headers">Email</td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td class="profile-table-data">{{ staffMember.firstName + " " + staffMember.lastName}}</td>
              <td class="profile-table-data">{{ staffMember.gender.name }}</td>
              <td class="profile-table-data">{{ staffMember.birthDate | date: "shortDate" }}</td>
              <td class="profile-table-data">{{ staffMember.ssn }}</td>
              <td class="profile-table-data">{{ staffMember.location ? staffMember.location.value : '' }}</td>
              <td class="profile-table-data">{{ staffMember.phone }}</td>
              <td class="profile-table-data">{{ staffMember.email }}</td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td class="profile-table-headers">Staff Type</td>
              <td class="profile-table-headers">Hire Date</td>
              <td class="profile-table-headers">Employment Status</td>
              <td class="profile-table-headers">Shifts</td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td class="profile-table-data">{{ staffMember.staffType.staffTypeName }}</td>
              <td class="profile-table-data">{{ staffMember.hireDate | date: "shortDate" }}</td>
              <td class="profile-table-data">{{ staffMember.employmentType.employmentTypeName }}</td>
              <td class="profile-table-data">
                <div [innerHTML]="staffMember.shiftDaysString"></div>
              </td>
              <td colspan="3"></td>
            </tr>
          </table>
          <ng-template #editProfile>
            <form [formGroup]="staffMemberForm">
              <table class="profile-table profile-table-edit">
              <tr>
                <td class="profile-table-headers">Staff Name</td>
                <td class="profile-table-headers">Gender</td>
                <td class="profile-table-headers">Birthdate</td>
                <td class="profile-table-headers">SSN</td>
                <td class="profile-table-headers">Location</td>
                <td class="profile-table-headers">Phone Number</td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td class="profile-table-data">
                  <div class="staff-name-edit">
                    <mat-form-field class="staff-name-edit" appearance="outline">
                    <input [ngStyle]="{'border-color' : (submitted && validateForm.fullName.errors) ? 'red' : ''}"
                           formControlName="fullName" placeholder="Full Name *" matInput>
                    </mat-form-field>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="radio-edit">
                    <button (click)="genderOptionOpened = !genderOptionOpened;allCardsCleared = false" class="customised-radio-group">
                      <span class="button-label">
                        {{selectedGender}}
<!--                        *ngIf="!genderOptionOpened;else shiftArrowUp"-->
                        <mat-icon class="arrow-drop-up">arrow_drop_down</mat-icon>
<!--                        <ng-template #shiftArrowUp>-->
<!--                          <mat-icon class="arrow-drop-up">arrow_drop_up</mat-icon>-->
<!--                        </ng-template>-->
                      </span>
                    </button>
                    <mat-card *ngIf="genderOptionOpened" class="customized-card radio-alignment" fxFlex fxLayout="column">
                      <app-custom-option-set [multiple]="false" [elements]="genderOptions | async" [selectedRadioButton]="staffMemberForm.controls.gender.value"
                                             (valueChange)="manageChosenData('gender', $event);"></app-custom-option-set>
                    </mat-card>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="birthDate-edit">
                    <mat-form-field appearance="outline">
                      <input [ngStyle]="{'border-color' : (submitted && (validateForm.birthDate.errors || validateForm.birthDate.status == 'INVALID')) ? 'red' : ''}" formControlName="birthDate" matInput placeholder="Choose a date" [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="ssn-edit">
                    <mat-form-field appearance="outline">
                      <input formControlName="ssn" placeholder="SSN" matInput>
                    </mat-form-field>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="radio-edit">
                    <button (click)="unitOptionOpened = !unitOptionOpened;allCardsCleared = false" class="customised-radio-group">
                      <span class="button-label">
                        {{selectedUnit}}
<!--                        *ngIf="!unitOptionOpened;else shiftArrowUp"-->
                        <mat-icon [ngClass]="selectedUnit === '' ? 'arrow-alignment' : ''" class="arrow-drop-up">arrow_drop_down</mat-icon>
<!--                        <ng-template #shiftArrowUp>-->
<!--                          <mat-icon class="arrow-drop-up">arrow_drop_up</mat-icon>-->
<!--                        </ng-template>-->
                      </span>
                    </button>
                    <mat-card *ngIf="unitOptionOpened" class="customized-card radio-alignment" fxFlex fxLayout="column">
                      <app-custom-option-set [multiple]="false" [required]="false" [elements]="unitOptions | async" [selectedRadioButton]="staffMemberForm.controls.location.value"
                                             (valueChange)="manageChosenData('unit', $event);"></app-custom-option-set>
                    </mat-card>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="phone-edit">
                    <mat-form-field appearance="outline">
                      <input [ngStyle]="{'border-color' : (submitted && (validateForm.phone.errors || validateForm.phone.status == 'INVALID')) ? 'red' : ''}"
                             matInput [validation]="true" [dropSpecialCharacters]="false" formControlName="phone" mask='(000) 000-0000' placeholder="Phone Number *">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td class="profile-table-headers">Email</td>
                <td class="profile-table-headers">Staff Type</td>
                <td class="profile-table-headers">Hire Date</td>
                <td class="profile-table-headers">Employment Status</td>
                <td class="profile-table-headers center-view">Shifts</td>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td class="profile-table-data">
                  <div class="email-edit">
                    <mat-form-field appearance="outline">
                      <input [ngStyle]="{'border-color' : (submitted && validateForm.email.errors) ? 'red' : ''}"
                             matInput formControlName="email" placeholder="Email Address *">
                    </mat-form-field>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="radio-edit">
                    <button (click)="staffTypeOptionOpened = !staffTypeOptionOpened;allCardsCleared = false" class="customised-radio-group">
                      <span class="button-label">
                        {{selectedStaffType}}
<!--                        *ngIf="!staffTypeOptionOpened;else shiftArrowUp"-->
                        <mat-icon class="arrow-drop-up">arrow_drop_down</mat-icon>
<!--                        <ng-template #shiftArrowUp>-->
<!--                          <mat-icon class="arrow-drop-up">arrow_drop_up</mat-icon>-->
<!--                        </ng-template>-->
                      </span>
                    </button>
                    <mat-card *ngIf="staffTypeOptionOpened" class="customized-card radio-alignment" fxFlex fxLayout="column">
                      <app-custom-option-set [multiple]="false" [elements]="staffOptions | async" [selectedRadioButton]="staffMemberForm.controls.staffType.value"
                                             (valueChange)="manageChosenData('staff', $event);"></app-custom-option-set>
                    </mat-card>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="birthDate-edit">
                    <mat-form-field appearance="outline">
                      <input formControlName="hireDate" matInput placeholder="Choose a date" [matDatepicker]="hireDatePicker">
                      <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #hireDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </td>
                <td class="profile-table-data">
                  <div class="radio-edit">
                    <button (click)="empTypeOptionOpened = !empTypeOptionOpened;allCardsCleared = false" class="customised-radio-group">
                      <span class="button-label">
                        {{selectedEmpType}}
<!--                        *ngIf="!empTypeOptionOpened;else shiftArrowUp"-->
                        <mat-icon class="arrow-drop-up">arrow_drop_down</mat-icon>
<!--                        <ng-template #shiftArrowUp>-->
<!--                          <mat-icon class="arrow-drop-up">arrow_drop_up</mat-icon>-->
<!--                        </ng-template>-->
                      </span>
                    </button>
                    <mat-card *ngIf="empTypeOptionOpened" class="customized-card radio-alignment" fxFlex fxLayout="column">
                      <app-custom-option-set [multiple]="false" [elements]="employmentOptions | async" [selectedRadioButton]="staffMemberForm.controls.employmentType.value"
                                             (valueChange)="manageChosenData('employment', $event);"></app-custom-option-set>
                    </mat-card>
                  </div>
                </td>
                <td class="profile-table-data center-view">
                  <button (click)="viewShiftsPanel()" mat-button class="action-button complete">VIEW SHIFTS</button>
                </td>
                <td colspan="2"></td>
              </tr>
            </table>
              <button type="button" (click)="updateStaffMember()" mat-button class="action-button complete save-user">CONFIRM CHANGE</button>
              <a class="cancel-save" (click)="cancelUpdate()">CANCEL</a>
              <br />
              <br />
              <label class="notes-label">Notes</label>
              <br />
              <br />
              <textarea (change)="notesChanged()" formControlName="notes" class="notes-area" placeholder="Add a note… "></textarea>
            </form>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="custom-collapsed custom-collapsed-contact">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Emergency Contacts & References
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br />
          <table class="customized-profile-tables">
            <thead>
            <tr>
              <th class="contact-table-header">Contact Name</th>
              <th class="contact-table-header">Contact Type</th>
              <th class="contact-table-header">Phone Number</th>
              <th class="contact-table-header">Relationship</th>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr class="table-divider">
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            <tr>
              <td colspan="100%"></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of contacts;">
              <td class="contact-table-body">{{item.name}}</td>
              <td class="contact-table-body">{{item.type}}</td>
              <td class="contact-table-body">{{item.phone}}</td>
              <td class="contact-table-body">{{item.relationship}}</td>
            </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
        <br />
      </div>
      <div *ngIf="selectedContent == 'Schedule'">
        <mat-expansion-panel class="custom-collapsed custom-collapsed-profile">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Upcoming ({{ upcomingShifts.length }})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br />
          <table class="customized-profile-tables">
            <thead>
              <tr>
                <th class="table-header-labels">Shift Date</th>
                <th class="table-header-labels">Shift Time</th>
                <th class="table-header-labels headers-aligned-center">Location</th>
                <th class="table-header-labels headers-aligned-center">Hours</th>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr class="table-divider">
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of upcomingShifts;">
                <td class="table-body-custom-1">{{item.shiftDate | date:'mediumDate'}}</td>
                <td class="table-body-custom-1">{{item.shiftType.shiftTypeName}}</td>
                <td class="table-body-custom-2">{{item.location.value}}</td>
                <td class="table-body-custom-2">{{item.shiftType.shiftHours}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel class="custom-collapsed custom-collapsed-contact">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Recent ({{ recentShifts.length }})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br />
          <table class="customized-profile-tables">
            <thead>
              <tr>
                <th class="table-header-labels">Shift Date</th>
                <th class="table-header-labels">Shift Time</th>
                <th class="table-header-labels headers-aligned-center">Location</th>
                <th class="table-header-labels headers-aligned-center">Hours</th>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr class="table-divider">
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
              <tr>
                <td colspan="100%"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of recentShifts;">
                <td class="table-body-custom-1">{{item.shiftDate | date:'mediumDate'}}</td>
                <td class="table-body-custom-1">{{item.shiftType.shiftTypeName}}</td>
                <td class="table-body-custom-2">{{item.location.value}}</td>
                <td class="table-body-custom-2">{{item.shiftType.shiftHours}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
        <br />
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="overlay" *ngIf="!allCardsCleared" (click)="clearAllCards()"></div>


