.staff-profile {
  margin-right: 19px !important;
  margin-top: 13px !important;
  margin-left: 15px !important;
  padding: 0px!important;
  min-height: 435px;
  background: #f7fbff;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  background: rgb(247, 251, 255);
  box-shadow: 0px 1px 4px 0px rgba(207, 207, 207, 0.5) !important;

  .cancel-icon {
    color: white;
    position: absolute;
    right: 16px;
    top: 19px;
    cursor: pointer;
  }

  .remove-staff-label {
    position: absolute;
    top: 67px;
    display: flex;
    justify-content: flex-end;
    right: 100px;
    font-family: OpenSans-SemiBold, sans-serif;
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: -0.67px;
  }

  .mat-card-header {
    background: linear-gradient(0deg, rgb(75, 167, 209) 0%, rgb(24, 133, 183) 100%);
    box-shadow: 0px 1px 4px 0px rgba(207, 207, 207, 0.5);
    border-radius: 2px 2px 0px 0px;
    height: 110px;
    padding: 5px !important;

    .header-image {
      position: absolute;
      top: 33px;
      left: 40px;
      background: rgb(242, 245, 248);
      color: rgb(0, 117, 173);
      border-radius: 50%;
      text-align: center;
      font-family: OpenSans-SemiBold, sans-serif;
      font-weight: normal;
      width: 111px;
      height: 111px;
      padding-top: 35px;
      font-size: 30px;
      font-weight: 600;
    }

    .mat-card-title {
      position: absolute;
      top: 50px;
      left: 179px;
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-family: OpenSans-SemiBold, sans-serif;
      font-weight: normal;
      line-height: 24px;
    }

    .mat-card-subtitle {
      position: absolute;
      top: 86px;
      left: 179px;
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-family: OpenSans-Regular, sans-serif;
      font-weight: normal;
      line-height: 24px;

      .next-shift-label {
        //color: rgba(242, 245, 248, 0.8);
        //font-size: 18px;
        font-family: OpenSans-SemiBoldItalic, sans-serif;
        font-style: italic;
      }
    }
  }

  .content-tabs {
    height: 59px!important;
    background: rgb(255, 255, 255);
    border-radius: 0px;
    //width: 1405px;
    //height: 59px;
    //background: rgb(255, 255, 255);
    //box-shadow: ;
    //border-radius: 0px;
  }

  .content-data {
    min-height: 283px;
    background: rgb(247, 251, 255);
    border-top: 0px!important;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 0px 1px 4px 0px rgba(207, 207, 207, 0.5);
    //border-radius: 2px;
    padding-top: 16px;

    .mat-expansion-panel {
      box-shadow: none !important;

      .mat-expansion-panel-header {
        height: 48px!important;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(231, 231, 231);
        box-shadow: 0px 2px 4px 0px rgba(219, 219, 219, 0.33);
        border-radius: 2px;

        .mat-expansion-panel-header-description {
          display: none;
        }

        .mat-expansion-panel-header-title {
          color: rgb(89, 89, 91);
          font-size: 16px;
          font-family: OpenSans-SemiBold, sans-serif;
          font-weight: normal;
          letter-spacing: 0px;
        }

      }

      .mat-expansion-panel-header.mat-expanded {
        height: 48px!important;
        background: rgb(23, 133, 184);
        border: 1px solid rgb(231, 231, 231);
        box-shadow: 0px 2px 4px 0px rgba(219, 219, 219, 0.33);
        border-radius: 2px;

        .mat-expansion-panel-header-title {
          color: rgb(255, 255, 255)!important;
          font-size: 16px;
          font-family: OpenSans-SemiBold, sans-serif;
          font-weight: normal;
          letter-spacing: 0px;
        }

        .mat-expansion-panel-header-description {
          display: flex;
          justify-content: flex-end;
          color: white;
        }

        ::ng-deep .mat-expansion-indicator::after {
          color: white !important;
        }

      }

      ::ng-deep .mat-expansion-panel-content {
        background: rgb(247, 251, 255);

        .mat-expansion-panel-body {
          padding: 0px!important;
        }

        .customized-profile-tables {
          width: 100%;

          .table-header-labels {
            color: rgb(106, 118, 128);
            font-size: 16px;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: normal;
            letter-spacing: -0.4px;
            line-height: 16px;
          }

          .table-divider {
            height: 1px;
            border: 1px solid rgb(220, 224, 230) !important;;
            color: rgb(220, 224, 230) !important;;
            background-color: rgb(220, 224, 230) !important;
          }

          .table-body-custom-1 {
            color: rgb(79, 79, 79);
            font-size: 16px;
            font-family: OpenSans-SemiBold, sans-serif;
            font-weight: normal;
            letter-spacing: -0.4px;
            line-height: 30px;
          }

          .table-body-custom-2 {
            color: rgb(79, 79, 79);
            font-size: 16px;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: normal;
            letter-spacing: -0.4px;
            line-height: 16px;
          }

          .contact-table-header {
            //width: 88px;
            width: 25%;
            height: 16px;
            color: rgb(106, 118, 128);
            font-size: 16px;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: normal;
            letter-spacing: -0.4px;
            line-height: 16px;
            padding-left: 25px;
            padding-right: 25px;
          }
          .contact-table-body {
            //width: 230px;
            //height: 16px;
            color: rgb(79, 79, 79);
            font-size: 16px;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: normal;
            letter-spacing: -0.4px;
            line-height: 30px;
            padding-left: 25px;
            padding-right: 25px;
          }
        }
      }
    }

    .custom-collapsed {
      margin-left: 32px;
      margin-right: 32px;

      .profile-header {
        padding-top: 12px
      }

      .edit-wrapper {
        height: 46px;
        width: 50px;
        padding: 12px;

        .edit-text {
          color: white;
          cursor: pointer;
        }
      }

      .profile-table-edit {
        padding-right: 40px;
      }

      .center-view {
        text-align: center;
      }

      .profile-table {
        width: 100%;
        margin: 25px !important;
        padding-right: 45px;

        .profile-table-headers {
          width: 14.3%;
          color: rgb(106, 118, 128);
          font-size: 16px;
          font-family: OpenSans-Regular, sans-serif;
          font-weight: normal;
          letter-spacing: -0.4px;
          line-height: 16px;
        }

        .profile-table-data {
          color: rgb(79, 79, 79);
          vertical-align: top;
          font-size: 16px;
          font-family: OpenSans-SemiBold, sans-serif;
          font-weight: normal;
          letter-spacing: -0.89px;
          line-height: 18px;

          .custom-input {
            width: 190px;
            height: 56px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 2px;
          }

          .custom-optionset {
            width: 170px;
            height: 56px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 2px;
            cursor: pointer;
          }

          .custom-date {
            width: 180px;
            display: flex;
            height: 56px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 2px;

            .custom-date-input {
              width: 100%;
              background-color: transparent;
            }

            ::ng-deep .mat-datepicker-toggle .mat-icon-button {
              margin-top: 8px !important;
            }
          }
        }
      }

      .save-user {
        margin-left: 25px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: OpenSans-SemiBold, sans-serif;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.67px;
      }

      .cancel-save {
        margin-left: 25px;
        color: rgb(25, 134, 185);
        font-size: 16px;
        font-family: OpenSans-SemiBold, sans-serif;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.67px;
        cursor: pointer;
      }

      .notes-label {
        margin-left: 25px;
        color: rgb(114, 128, 138);
        font-size: 16px;
        font-family: OpenSans-SemiBold, sans-serif;
        font-weight: normal;
        letter-spacing: -0.49px;
      }

      .notes-area {
        background-color: inherit;
        padding: 10px;
        margin-left: 25px;
        width: 654.42px;
        height: 76px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 2px;
      }

      .staff-name-edit {
        //width: 170px;
        //height: 50px;
        //background-color: inherit;
        //margin-top: 5px;
        //border: 1px solid rgba(0, 0, 0, 0.12);
        //border-radius: 4px;

        ::ng-deep .mat-form-field {
          width: 170px !important;
          height: 50px !important;
          background-color: inherit !important;
          margin-bottom: 23px;
        }
      }

      .optionser-wrapper {
        position: relative;

        .arrow-drop-up {
          position: absolute;
          margin-top: -4px;
        }

        .empty-arrow-drop-up {
          position: absolute;
          margin-top: -10px;
          margin-left: -5px;
        }
      }

      .customized-card {
        position: absolute;
        width: 499px;
        height: 280px!important;
        left: -90px;
        border: 1px solid #1986B9;
        padding: 0px;
        margin-top: -50px;
        z-index: 2;
        //overflow-y: auto;
        background: rgb(255, 255, 255);
        box-shadow: 0px 1px 4px 0px rgb(207, 207, 207);
        border-radius: 2px;

        .customized-card-wrapper {
          width: 100%;
          height: 100%;

          .mat-card-title-wrapper {
            height: 60px;
            width: 100%;
            padding: 10px 10px 0px 10px;

            .header-top {
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;

              .title-text {
                font-size: 16px;
                font-family: OpenSans-Regular, sans-serif;
                font-weight: normal;
                letter-spacing: -0.49px;
                color: rgb(114, 128, 138);
              }

              .custom-close-icon {
                cursor: pointer;
              }
            }

            .custom-hr {
              bottom: 0;
              color: rgba(0, 0, 0, 0.12) !important;
            }
          }

          .mat-card-content-wrapper {
            border: black;
            overflow: auto;
            //height: 400px;

            .mat-card-content {
              overflow: auto;
              position: relative;
            }
          }

          a {
            padding-right: 10px;
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;

            .apply-button {
              cursor: pointer;
              font-size: 16px;
              text-transform: uppercase;
              font-family: OpenSans-Regular, sans-serif;
              font-weight: normal;
              letter-spacing: -0.49px;
              color: #1986B9;
            }
          }
        }

        .card-customized-divider {
          width: 100%;
          margin-left: 15px;
          margin-right: 15px;
        }

        ::ng-deep .checkmark {
          margin-top: 0px !important;
        }
      }

      .ssn-edit {

        ::ng-deep .mat-form-field {
          width: 137px !important;
          height: 50px !important;
          background-color: inherit !important;
          margin-bottom: 23px;
        }
      }

      .phone-edit {

        ::ng-deep .mat-form-field {
          width: 157px !important;
          height: 50px !important;
          background-color: inherit !important;
          margin-bottom: 23px;
        }
      }

      .email-edit {

        ::ng-deep .mat-form-field {
          width: 170px !important;
          height: 50px !important;
          background-color: inherit !important;
          margin-bottom: 23px;
        }
      }

      .birthDate-edit {

        ::ng-deep .mat-form-field {
          width: 152px !important;
          height: 50px !important;
          background-color: inherit !important;
          margin-bottom: 23px;
        }

      }

      .radio-edit {


        .customised-radio-group {
          width: 160px;
          height: 57px;
          margin-top: 5px;
          background-color: inherit;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: 5px;

          .button-label {
            text-align: center;

            .arrow-alignment {
              margin-top: -12px!important;
              margin-left: -7px;
            }

            .arrow-drop-up {
              position: absolute;
              margin-top: -3px
            }
          }

        }
        .radio-alignment {
          min-height: 100px;
          max-height: 250px;
          min-width: 200px !important;
          max-width: 250px !important;
        }
      }

      //input outline color
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        border: 1px solid rgba(0, 0, 0, 0.12)!important;
        border-radius: 2px!important;
        border-color: transparent!important;
      }

      //mat-input focused color
      ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        border: 1px solid rgba(0, 0, 0, 0.12)!important;
        border-radius: 2px!important;
        border-color: transparent!important;
      }


      // mat-input error outline color
      ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
        border: 1px solid rgba(0, 0, 0, 0.12)!important;
        border-radius: 2px!important;
        border-color: transparent!important;
      }


      .hireDate-edit {
        width: 169px;
        height: 56px;
        background-color: inherit;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 2px;
      }
    }

    .custom-collapsed-profile {
      margin-top: 46px;
    }

    .custom-collapsed-contact {
      margin-top: 15px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.0;
  z-index: 1;
}

::ng-deep .mat-tab-group {
  position: absolute;
  left: 145px;
  top: 137px;
}

//::ng-deep .mat-tab-body-wrapper {
//  display: none!important;
//}

::ng-deep .mat-tab-header {
  border-bottom: none!important;
}

::ng-deep .mat-tab-label {
  min-width: 64px !important;
  margin-left: 43px;
  color: rgb(114, 128, 138)!important;
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  font-weight: normal;
  letter-spacing: -0.49px;
}

/* Styles for the active tab label */
::ng-deep .mat-tab-label.mat-tab-label-active {
  min-width: 64px !important;
  color: rgb(24, 133, 183)!important;
  margin-left: 43px;
  font-size: 16px;
  font-family: OpenSans-SemiBold, sans-serif;
  font-weight: normal;
  letter-spacing: -0.49px;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  position: absolute;
  bottom: 2px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  color: rgb(24, 133, 183)!important;
  background-color: rgb(24, 133, 183)!important;
}
