.online-staff-view-notification {
  background-color: #f2f5f8;
  padding: 24px 19px;

  .icon-container {

    .icon {
      width: 36px;
      height: 36px;
      border-radius: 18px;

      .mat-icon {
        color: white;
      }

      &.success {
        background-color: #9fc53a;
      }

      &.fail {
        background-color: #d0021b;
      }
    }
  }

  .message {
    padding-left: 19px;

    .message-title, .shift-date, .shift-hours {
      color: rgba(51, 50, 56, 0.84);
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.1px;
    }

    .shift-length {
      color: rgba(51, 50, 56, 0.84);
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      letter-spacing: -0.1px;
    }
  }
}
