<div class="view-type" fxFlex.lt-sm="1 1 auto">
  <div class="view-type-wrapper" fxLayout="row" fxLayoutAlign.lt-sm="space-around">
    <div class="view-type-toggle" fxLayoutAlign="row">
      <div class="toggle-button toggle-shift" fxLayoutAlign="center center"
           [ngClass]="{selected: dailyViewConfig.viewType === 'shift'}"
           (click)="changeViewType('shift')"
      >
        Shift Time
      </div>
      <div class="toggle-button toggle-unit" fxLayoutAlign="center center"
           [ngClass]="{selected: dailyViewConfig.viewType === 'unit'}"
           (click)="changeViewType('unit')"
      >
        Unit
      </div>
    </div>
  </div>
</div>

