.view-type {
  display: block;

  .view-type-toggle {
    width: 160px;
    height: 40px;
    border: 2px solid #1885B7;
    margin-right: 4px;
    border-radius: 3px;

    .toggle-button {
      width: 50%;
      font-size: 16px;
      cursor: pointer;
      color: #A2A4A7;
      background-color: transparent;

      &.selected {
        background-color: #1885B7;
        color: white;
      }
    }
  }
}
