<mat-card class="user-tasks" fxLayout="column">
  <mat-card-header>
    <mat-icon mat-card-avatar class="test-icon">check_circle</mat-icon>
    <mat-card-title>My Tasks</mat-card-title>
  </mat-card-header>

  <mat-card-content id="test" fxFlex fxLayout="column" fxFlexFill>

    <div class="user-tasks-content" fxLayout="column" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="single-task" fxFlex="0 1 auto" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center"
           cdkDrag *ngFor="let task of tasks.toDo; let i = index">
        <mat-checkbox (change)="toggleTask(i, false)" [checked]="task.completed"></mat-checkbox>
        <span class="task-row" [ngClass]="{completed: task.completed}" fxFlex="1 1 auto">{{task.value}}</span>

        <mat-icon class="remove-task" (click)="removeTask(i)">clear</mat-icon>
      </div>
    </div>

    <div class="actions" fxFlex="0 1 auto" fxLayout="column">
      <div class="add-task" fxFlex *ngIf="addTask">
        <form (submit)="addNewTask()">
          <mat-form-field [appearance]="'outline'" fxFlex>
            <mat-icon matPrefix (click)="addNewTask()">add</mat-icon>
            <input #newTask matInput placeholder>
          </mat-form-field>
        </form>
      </div>
      <button mat-button class="add-button" (click)="addTask = !addTask">
        <mat-icon>add</mat-icon> &nbsp; Add New Tasks
      </button>
    </div>

    <div class="user-tasks-completed" fxFlex fxLayout="column">
      <span class="toggle bold-item">{{tasks.completed.length}} Completed
        <button mat-icon-button (click)="expanded = !expanded">
          <mat-icon>{{expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
        </button>
      </span>
      <div class="user-tasks-completed" fxFlex *ngIf="expanded">
        <div class="single-task" fxFlex fxLayout="column" fxLayoutGap="8px">
          <mat-checkbox *ngFor="let task of tasks.completed; let i = index" (change)="toggleTask(i, true)"
                        [checked]="task.completed">
            <span [ngClass]="{completed: task.completed}">{{task.value}}</span>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
