$background-color: #f7fbff;
$header_border_color: #cacaca;

.shift-management {
  padding: 10px;
  width: fit-content;
  height: 99vh;
  position: relative;

  .shift-management-wrapper {
    width: fit-content;
    min-width: 400px;
    max-width: 600px;

    ::ng-deep.management-top-card {

      .title h2 {
        color: red;
      }
    }
  }

  .actions {
    position: relative;
    border-top: 1px solid $header_border_color;

    .actions-wrapper {
      padding: 16px 0;
    }
  }

}
