
.shift-info {
  background-color: #e0eec9;
  min-height: 48px !important;
  border-radius: 2px;
  padding: 13px;

  //&.response {
  //  background-color:#cfecff;
  //}

  &.no-shift {
    background-color: #f2f5f8;
  }

  .shift-info-wrapper {

    .shift-hours {
      color: #515151;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
    }

    .shift-length {
      color: #6E7071;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0;
      font-style: italic;
    }

    .no-shift-message {
      color: #515151;
      font-family: OpenSans-Regular, sans-serif;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0;
      margin-top: 5px;
    }
  }

  &.pending-request {

    .pending {
      color: #84bb28;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      letter-spacing: -0.4px;
      text-align: right;
      text-transform: uppercase;
    }
    &.confirmation {
      background-color: #cfecff;
      .pending {
        color: #1785b8;
      }
    }

  }
}
