<div class="shift-info" fxFlex="1 0 auto" fxLayout="column"
     fxLayoutAlign="center start" fxFlexFill fxLayoutGap="12px"
     [ngClass]="{'no-shift' : !shiftDetails, confirmation: !isrq, 'pending-request': requestPending}">
  <div class="shift-info-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <ng-container *ngIf="!!shiftDetails; then hasShift else noShift"></ng-container>
  </div>
  <div fxLayoutAlign="start center"  *ngIf="requestPending" >
    <span class="pending">Pending  {{isrq? 'Response' : 'Confirmation'}}</span>
  </div>
</div>

<ng-template #hasShift>
  <div fxLayout="row" fxLayoutGap="3px">
    <span class="shift-hours">{{shiftDetails.shiftHours}}</span>
    <span class="shift-length">(8 hours)</span>
  </div>
</ng-template>
<ng-template #noShift>
  <span class="no-shift-message">You have no shifts today.</span>
</ng-template>
