<div class="weekly-data-container" fxFlex>
  <div class="weekly-data-container" fxFlex fxLayout="column">

    <div class="primary-data" fxFlex>

      <div class="data  weekly-left-column">
        <div class="data-wrapper" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <span class="title">{{data[primaryField === 'shift' ? 'shiftTime' : 'value']}}</span>
          <span class="subtitle">Census : <span class="census">16</span></span>
        </div>
      </div>
    </div>

    <div class="data-container" fxFlex>
      <div class="data-container" fxFlex fxLayout="column">

        <personel-container [expanded]="true" [staff]="staff.value" [title]="staff.key" [shiftDetails]="getShiftDetails(staff.key)"
                            [days]="days" *ngFor="let staff of data.staff | keyvalue"></personel-container>

      </div>
    </div>

  </div>
</div>
