$background_blue: #F7F9FB;

.weekly-data-container {
  .primary-data {
    height: 109px;

    .data {
      border-right: 2px solid $background_blue;
      height: 109px;
      padding-top: 42px

    }
    .title {
      font-weight: bolder;
      font-size: 25px;
    }

    .subtitle {
      font-size: 16px;

      .census {
        text-decoration: underline;
      }
    }
  }

  .data-container {

    .expansion-panel {

      .mat-list-base {
        padding: 0;
      }

      .header {
        background-color: #F1F5F8;
        border: 2px solid #D3D4D5;

        .header-content {
          width: 430px !important;
          border-right: 2px solid #D3D4D5;

          .header-title {
            padding-left: 50px;
          }
          .mat-icon {
            cursor: pointer;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 47px;
            margin-right: 30px
          }
        }
      }

      .item-row {
        border-bottom:1px solid #D3D4D5;

        .right {

          .date-cell {
            border-right: 2px solid $background_blue;
          }
        }
      }
    }
  }
}
