
<mat-card class="user-filter" fxFlex>
  <div class="content" fxFlex fxLayout="row">
    <mat-form-field fxFlex class="search-field">
      <input matInput placeholder="search users...." [formControl]="control" autocomplete="false">
    </mat-form-field>
    <button mat-button style="border-left: 1px solid #333333; border-radius: 0" (click)="toggleFilterOptions()">
      <mat-icon>search</mat-icon>
      <span>Filter</span>
    </button>
  </div>
</mat-card>


<mat-card class="filter-options" fxFlex *ngIf="filterOptions" fxFlex fxLayout="column">

  <div class="wrapper" fxFlex fxLayout="column">
    <h3>Shift Options</h3>
    <app-selectable-button-group [multiple]="true" [elements]="shiftOptions | async" (valueChange)="shiftChange.next($event)"></app-selectable-button-group>
  </div>
  <div class="wrapper" fxFlex fxLayout="column">
    <h3>Unit Options</h3>
    <app-selectable-button-group [multiple]="true" [elements]="unitOptions | async" (valueChange)="unitChange.next($event)"></app-selectable-button-group>
  </div>
</mat-card>

<div class="overlay" *ngIf="filterOptions" (click)="toggleFilterOptions()"></div>
