/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Custom global styles */
@import "app/global-styles/global";


body {
  margin: 0;
  width: 100%;

}

.bold-item {
  font-weight: bold;
}
