/* Custom global styles */
@import "app/global-styles/global";
// Import Theme core library
@import "@theme/scss/core";
// Import app.theme.scss
@import "app/app.theme";

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}

.bold-item {
  font-weight: bold;
}

.test-icon {
  background-color: #eef8fe !important;
  border: 3px solid #dcecf4 !important;
  color: #1785B8 !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 20px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  text-align: center !important;

  &.danger {
    color: #d0021b !important;
  }
}

.test {
  z-index: 1999;
  background-color: red !important;
}

.weekly-left-column {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  border-right: 2px solid #F7FBFF;
  background-color: white;
  position: sticky;
  z-index: 100001;
  left:0;
}

.date-range-picker > .mat-dialog-container {
  padding: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) !important;
}

.invisible-backdrop {
  background-color: transparent;
}


