/* Custom global styles */
@import "app/global-styles/global";
// Import Theme core library
@import "@theme/scss/core";
// Import app.theme.scss
@import "app/app.theme";

body {
  margin: 0;
  width: 100%;

}

.bold-item {
  font-weight: bold;
}

.test-icon {
  background-color: #eef8fe !important;
  border: 3px solid #dcecf4 !important;
  color: #1785B8 !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 20px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  text-align: center !important;

  &.danger {
    color: #d0021b !important;
  }
}

.test {
  z-index: 1999;
  background-color: red !important;
}

.weekly-left-column {
  width: 400px;
  border-right: 2px solid #F7FBFF;
}


