$header_background_color: #f2f5f8;
$header_border_color: #DaDcDb;
$header_font_color: #A2A4A7;

.staff-member-card {
  width: 465px;
  border: 1px solid $header_border_color;
  border-radius: 2px;

  .staff-member-card-header {
    box-shadow: unset;

    &.mat-expansion-panel-header {
      background-color: $header_background_color;
      border-bottom: 1px solid $header_border_color;
      border-radius: 2px;

    }

    ::ng-deep .range-chip {
      margin-right: 20px !important;
    }

    .staff-member-card-header-title {
      font-size: 16px;
      color: $header_font_color;
      height: inherit;
      padding-top: 10px;
    }
  }

  ::ng-deep.mat-expansion-panel-content {
    width: 100%;

    .mat-expansion-panel-body {
      width: 100%;
      padding: 0;

      .mat-list-base {
        padding: 0;
      }
    }
  }

}
