<div class="staff-member-card">
  <mat-expansion-panel [expanded]="expanded" >
    <mat-expansion-panel-header class="staff-member-card-header" expandedHeight="50px" collapsedHeight="50px">

      <div fxFlex fxLayout="row">
        <span class="staff-member-card-header-title bold-item">{{title}}</span>
        <span fxFlex="1 1 auto"></span>
        <range-chip [present]="ratio.present" [total]="ratio.total"></range-chip>
      </div>

    </mat-expansion-panel-header>

    <mat-list class="staff-member-card-content" fxFlex fxLayout="column">

      <app-staff-card [openShift]="true" *ngIf="addStaff" (fillShiftEvent)="openFillShift()"></app-staff-card>
      <app-staff-card *ngFor="let s of staffList" [staffMember]="s"
                      (fillShiftEvent)="openFillShift($event)"
                      (viewDetailsEvent)="openShiftDetails(s)"
      ></app-staff-card>
      <add-shift (addShift)="addStaff = true"></add-shift>

    </mat-list>

  </mat-expansion-panel>
</div>
