$header_background_color: #1885B7;
$header_border_color: #dadcdb;
$header_font_color: #59595b;

.staff-grouping-card {
  flex: 1 1 auto;
  border-radius: 2px;
  position: relative;

  .staff-grouping-card-header {
    box-shadow: unset;
    flex: 1 1 auto;
    border: 1px solid $header_border_color;
    color: $header_font_color;
    border-radius: 2px;
    padding: 0 24px 0 16px;

    ::ng-deep.mat-expansion-panel-header-title {
      margin: 0;
    }

    ::ng-deep.mat-expansion-indicator {
      display: none;
    }

    .error-case {
      margin-top: 8px;
      margin-left: 10px;

      .error-message {
        color: rgb(152, 167, 180);
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        height: 22px;
        letter-spacing: 0;
        width: 96px;
        margin-left: 16px;
        line-height: 1.5;
      }
    }

    &.expanded {
      background-color: $header_background_color;
      color: white;

      .mat-expansion-panel-header-title {
        color: white;
      }

      .error-case {
        .error-message {
          color: white !important;
        }
      }
    }

    ::ng-deep .range-chip {
      margin-right: 16px;
    }

    .staff-grouping-card-header-title {
      font-size: 16px;
      height: inherit;
      padding-top: 10px;
      width: 120px;
    }
  }

  ::ng-deep.mat-expansion-panel.staff-grouping {
    box-shadow: unset !important;

    .staff-grouping-card-content {
      overflow: auto;

      .first-element {
        margin-left: 24px;
      }

      .last-element {
        padding-right: 24px;
      }
    }

    .mat-expansion-panel-content {
      //max-width: calc(100vw - (32px));
      width: inherit;

      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }

}
