<mat-expansion-panel class="move">
  <mat-expansion-panel-header expandedHeight="48px">
    Change Shift Date And Time
  </mat-expansion-panel-header>

  <div fxFlex fxLayout="column" fxLayoutGap="20px">
    <div fxFlex fxLayout="column">
      <span class="title"> Change Date </span>
      <mat-form-field fxFlex [appearance]="'outline'">
        <input matInput [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <span class="title"> Shift Time </span>
      <app-selectable-button-group #shiftTime [elements]="elements | async"
                                   [multiple]="false" [maximumSelections]="1"
      ></app-selectable-button-group>
    </div>

    <div class="actions">
      <div class="actions-wrapper" fxFlex fxLayoutAlign="center">
        <button mat-button class="action-button" [disabled]="!shiftTime.control.valid"
                [ngClass]="shiftTime.control.valid ? 'complete' : 'disabled'">Move
        </button>
      </div>
    </div>
  </div>
</mat-expansion-panel>

