<mat-expansion-panel class="move">
  <mat-expansion-panel-header expandedHeight="48px">
    Change Shift Date And Time
  </mat-expansion-panel-header>

  <div fxFlex fxLayout="column" fxLayoutGap="20px">
    <mat-card>
      <div fxFlex fxLayout="row" fxLayoutGap="20px">
        <div class="content" fxFlex="1 1 auto">
          Move Date
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </mat-card>

    <div>
      <h3> Shift Time </h3>
      <app-selectable-button-group #shiftTime [elements]="elements | async" [multiple]="false"
                                   [maximumSelections]="1"></app-selectable-button-group>
    </div>

    <div class="actions">
      <div class="actions-wrapper" fxFlex fxLayoutAlign="center">
        <button mat-button class="action-button" [disabled]="!shiftTime.control.valid"
                [ngClass]="shiftTime.control.valid ? 'complete' : 'disabled'">Move
        </button>
      </div>
    </div>
  </div>
</mat-expansion-panel>

