.shifts-to-fill {
  height: 100vh;
  width: fit-content;
  max-width: fit-content;

  .shifts-to-fill-wrapper {
    width: 500px;
    min-width: 500px;
    max-width: 500px;

    .content {
      padding: 12px 16px;
      overflow: auto;

      .shift-to-fill {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);

        .shift-actions {

          .action-button {
            width: 212px !important;
          }
        }
      }
    }
  }
}
