$background_color: #f2f5f8;
$font_color: #1885B7;

.chip-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: $background_color;
  color: $font_color;
  font-size: 16px !important;
  font-weight: 600;
}
