$header_background_color: #1785B8;
$header_border_color: #cacaca;
$header_font_color: #59595b;

.staff-grouping-card {
  flex: 1 1 auto;
  border-radius: 2px;
  position: relative;

  .staff-grouping-card-header {
    box-shadow: unset;
    flex: 1 1 auto;
    border: 1px solid $header_border_color;
    color: $header_font_color;
    border-radius: 2px;

    .error-case {
      margin-top: 8px;
      margin-left: 10px;

      .error-message {
        color: rgb(152, 167, 180);
        font-family: OpenSans-SemiBoldItalic;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        height: 22px;
        letter-spacing: 0;
        width: 96px;
        margin-left: 12px;
        line-height: 1.5;
      }
    }

    &.expanded {
      background-color: $header_background_color;
      color: white;

      .error-case {
        .error-message {
          color: white;
        }
      }
    }

    .mat-expansion-panel {
      box-shadow: unset;

      ::ng-deep.mat-expansion-panel-content {
        max-width: calc(100vw - (100px));
        width: inherit;
        overflow-x: auto;
        overflow-y: hidden;

        .mat-expansion-panel-body {
          padding: 0;
        }
      }
    }

    ::ng-deep .range-chip {
      margin-right: 20px;
    }

    .staff-grouping-card-header-title {
      font-size: 16px;
      height: inherit;
      padding-top: 10px;
      width: 78px;
    }
  }

}
