<div class="staff-grouping-card">
  <mat-expansion-panel [expanded]="expanded" #a>
    <mat-expansion-panel-header class="staff-grouping-card-header" expandedHeight="50px"
                                [ngClass]="{expanded: a.expanded}"
                                collapsedHeight="50px" color="primary">
      <span class="staff-grouping-card-header-title bold-item">{{title | titlecase}}</span>
      <div class="error-case" fxFlex="1 1 auto">
        <div fxFlex fxLayout="row" *ngIf="total !== present">
          <mat-icon class="test-icon danger">warning</mat-icon>
          <span class="error-message"> {{total > present? 'Understaffed' : 'Overstaffed'}}</span>
        </div>
      </div>
      <range-chip [present]="present" [total]="total" [extraText]="'on staff'"></range-chip>
    </mat-expansion-panel-header>
    <div class="staff-grouping-card-content" *ngIf="a.expanded">
      <ng-content></ng-content>
    </div>
  </mat-expansion-panel>
</div>
