.selectable-button-group {

  .selectable-button {
    padding: 8px 16px;
    border-radius: 3px;
  }

  .selectable-button {
    float: left;
    width: 28%;
    height: 46px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.49px;
    //display: block;
    //margin: 0 20px 12px 0;
  }

}
