.selectable-button-group {

  .selectable-button {
    font-size: 9px;
    padding: 8px 16px;
    border-radius: 3px;
  }

  .selectable-button {
    width: 28%;
    text-align: center;
    float:left;
    display: inline-block;
    margin: 0 20px 12px 0;
  }

}
