<div class="user-form">

  <div class="user-form-wrapper">

    <div class="user-management-header">
      <p>
        Good afternoon!
        <br/>
        <label class="sub-title">‘{{ facilityName }}’ has invited you to join this facility as a nurse.</label>
      </p>
    </div>

    <form [formGroup]="loginForm">
      <div class="user-management-body">
        <div class="input-wrapper">
          <label class="form-labels">Email address</label>
          <div [ngClass]="isIntelypro ? 'disabled-email' : ''">
            <input formControlName="email" [attr.disabled]="isIntelypro == true ? true : null" placeholder="you@intelycare.com" type="text" class="form-inputs"
                   [ngStyle]="{'border-color' : (submitted && validateForm.email.errors) ? 'red' : ''}" />
            <i *ngIf="isIntelypro" class="material-icons locker-icon">lock</i>
          </div>
        </div>

        <br />

        <div class="input-wrapper">
          <label class="form-labels">Password</label>
          <input formControlName="password" placeholder="Enter password" type="password" class="form-inputs"
                 [ngStyle]="{'border-color' : (submitted && validateForm.password.errors) ? 'red' : ''}" />
        </div>

        <br />

        <div class="forgot-password-wrapper">
          <a routerLink="/forgotPass" class="forgot-password">Forgot password?</a>
        </div>

        <br /><br /><br />

        <div class="button-wrapper">
          <button class="main-button action-button complete" type="button" (click)="login()" >
            <label class="main-button-label">
              Join ‘{{ facilityName }}’
            </label>
          </button>
        </div>
      </div>
    </form>

  </div>

</div>





