.range-picker {
  position: relative;

  .end {
    border-left: 1px solid #e8e8e8;
  }
  .apply-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .apply {
      color: #1986b9;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
