<div class="daily-content" fxLayout="column" fxLayoutGap="24px">
  <app-staff-grouping-card [total]="10" [present]="5" [title]="a.shiftTime"
                           [errorMessage]="'Test error'"
                           *ngFor="let a of elements | async">
    <div class="columns-wrapper" fxFlex fxLayout="row" fxLayoutGap="24px">
      <app-staff-column [title]="b.value" [subtitle]="b.value" *ngFor="let b of a[primaryField]">
        <div class="member-card-wrapper" fxLayout="column" fxLayoutGap="24px">
          <app-staff-member-card [total]="10" [present]="5" [title]="c.key" *ngFor="let c of b.staff | keyvalue">
            <app-staff-card [openShift]="true" *ngIf="true" (itemSelected)="openFillShift()"></app-staff-card>
            <app-staff-card *ngFor="let s of c.value" [staffMember]="s" (itemSelected)="openShiftDetails(s)"></app-staff-card>
          </app-staff-member-card>
        </div>
      </app-staff-column>
    </div>
  </app-staff-grouping-card>
</div>
